DATA TREATMENT

In [1]:
import pandas as pd
import numpy as np

In [2]:
import unicodedata

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
def remove_special_and_accented_characters(df):
    cleaned_df = df.copy()
    for col in cleaned_df.columns:
        if cleaned_df[col].dtype == 'O':  # 'O' represents object data type (strings)
            cleaned_df[col] = cleaned_df[col].apply(lambda x: ''.join(char for char in unicodedata.normalize('NFKD', str(x)) if unicodedata.category(char) != 'Mn'))
    return cleaned_df

# IBGE DATABASE

In [5]:
IBGEbase = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\IBGE.csv',  engine = 'python',  delimiter=";", index_col=False)

In [6]:
IBGE = remove_special_and_accented_characters(IBGEbase)

In [7]:
IBGE['CD_MUNICIPIO'] = IBGE['CD_MUNICIPIO'].astype(object)
IBGE['SG_UF'] = IBGE['SG_UF'].astype(object)
IBGE['MUNICIPIO'] = IBGE['MUNICIPIO'].astype(object)
IBGE['MUNICIPIO'] = IBGE['MUNICIPIO'].astype(str)

In [8]:
IBGE = IBGE.reset_index(drop=True)

In [9]:
IBGE

,SG_UF,MUNICIPIO,IBGE7,IBGE6,CD_MUNICIPIO,IBGE4,AmazoniaLegal2015,Semiarido2015,Centrolocal,CentroSubregional,CapitalRegional,CentroZona,Intermediario,Nucleo
0,RO,ALTA FLORESTA D'OESTE,1100015,110001,15,1,1,-1,1,-1,-1,-1,-1,-1
1,RO,ARIQUEMES,1100023,110002,23,2,1,-1,-1,1,-1,-1,1,-1
2,RO,CABIXI,1100031,110003,31,3,1,-1,1,-1,-1,-1,-1,-1
3,RO,CACOAL,1100049,110004,49,4,1,-1,-1,1,-1,-1,1,-1
4,RO,CEREJEIRAS,1100056,110005,56,5,1,-1,-1,-1,-1,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,GO,VIANOPOLIS,5222005,522200,22005,2200,-1,-1,1,-1,-1,-1,-1,-1
5566,GO,VICENTINOPOLIS,5222054,522205,22054,2205,-1,-1,1,-1,-1,-1,-1,-1
5567,GO,VILA BOA,5222203,522220,22203,2220,-1,-1,1,-1,-1,-1,-1,-1
5568,GO,VILA PROPICIO,5222302,522230,22302,2230,-1,-1,1,-1,-1,-1,-1,-1
5569,DF,BRASILIA,5300108,530010,108,10,-1,-1,-1,-1,-1,-1,-1,1

# SIGA - settlement information
Source: SIGA BRASIL https://www12.senado.leg.br/orcamento/sigabrasil

In [10]:
Siga2015 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2015.csv',  engine = 'python',  delimiter=";", index_col=False,  dtype={'Emenda': object,'Empenhado': object, 'Pago': object,'Favorecido (Cod)':object})
Siga2015['Ano'] = 2015

In [11]:
Siga2015

,Localidade.UF,Localidade.Localidade,Localidade.Localidade.Localidade (Cod),Localidade (Tipo),Órgão (Cod/Desc),Funcional,Emenda,Resultado EOF (Cod/Desc),Favorecido (Cod),Favorecido,Favorecido (Tipo),Localidade (Favorecido).UF,Localidade (Favorecido).Localidade,Localidade (Favorecido).Localidade.Localidade (Cod),Empenhado,Pago,Ano
0,AC,ACRE (ESTADO),1200000,ACRE (ESTADO),14000 - JUSTIÇA ELEITORAL,02.122.0570.09HB.0012,-1,0 - DESP. FINANCEIRA,170502,SECRETARIA DO TESOURO NACIONAL/COFIN/STN,UNIDADE GESTORA,DF,BRASILIA,5300108,"3.712.731,14","3.711.341,12",2015
1,AC,ACRE (ESTADO),1200000,ACRE (ESTADO),14000 - JUSTIÇA ELEITORAL,02.122.0570.09HB.0012,-1,0 - DESP. FINANCEIRA,NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO INFORMADO,NÃO INFORMADO,NÃO INFORMADO,"0,00","0,00",2015
2,AC,ACRE (ESTADO),1200000,ACRE (ESTADO),14000 - JUSTIÇA ELEITORAL,02.122.0570.20GP.0012,-1,2 - DESP. PRIM. DISCRICIONÁRIA,00365231000280,DISRI - DISTRIBUIDORA LTDA,PESSOA JURIDICA,AC,FEIJO,1200302,"240,00","0,00",2015
3,AC,ACRE (ESTADO),1200000,ACRE (ESTADO),14000 - JUSTIÇA ELEITORAL,02.122.0570.20GP.0012,-1,2 - DESP. PRIM. DISCRICIONÁRIA,00571529267,UILLIAN DE JESUS FARIAS,PESSOA FISICA,AC,CRUZEIRO DO SUL - AC,1200203,"3.000,00","3.000,00",2015
4,AC,ACRE (ESTADO),1200000,ACRE (ESTADO),14000 - JUSTIÇA ELEITORAL,02.122.0570.20GP.0012,-1,2 - DESP. PRIM. DISCRICIONÁRIA,00578121875,CELSO SANTOS MATHEUS,PESSOA FISICA,AC,RIO BRANCO - AC,1200401,"36.906,48","33.966,41",2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813767,TO,TUPIRATINS,1721307,TUPIRATINS,"22000 - MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ...",20.608.2014.20ZV.0546,26920007,6 - DESP. PRIM. DISC. (EMENDAS INDIVIDUAIS),NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO INFORMADO,NÃO INFORMADO,NÃO INFORMADO,"0,00","0,00",2015
813768,TO,WANDERLANDIA,1722081,WANDERLANDIA,36000 - MINISTÉRIO DA SAÚDE,10.301.2015.8581.0547,12010014,6 - DESP. PRIM. DISC. (EMENDAS INDIVIDUAIS),NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO INFORMADO,NÃO INFORMADO,NÃO INFORMADO,"0,00","0,00",2015
813769,TO,WANDERLANDIA,1722081,WANDERLANDIA,36000 - MINISTÉRIO DA SAÚDE,10.301.2015.8581.0547,16400014,6 - DESP. PRIM. DISC. (EMENDAS INDIVIDUAIS),NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO INFORMADO,NÃO INFORMADO,NÃO INFORMADO,"0,00","0,00",2015
813770,TO,XAMBIOA,1722107,XAMBIOA,39000 - MINISTÉRIO DOS TRANSPORTES,26.782.1457.7L92.0017,-1,3 - DESP. PRIM. DISC. (PAC),08156424000151,MAIA MELO ENGENHARIA LTDA,PESSOA JURIDICA,PE,RECIFE,2611606,"0,00","0,00",2015
813771,TO,XAMBIOA,1722107,XAMBIOA,39000 - MINISTÉRIO DOS TRANSPORTES,26.782.2075.7L92.0548,-1,3 - DESP. PRIM. DISC. (PAC),NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO APLICÁVEL,NÃO INFORMADO,NÃO INFORMADO,NÃO INFORMADO,"0,00","0,00",2015

In [45]:
unique_values_col1 = Siga2015['Favorecido (Tipo)'].unique()

In [46]:
print("Unique values of col1:", unique_values_col1)

Unique values of col1: ['UNIDADE GESTORA' 'NÃO APLICÁVEL' 'PESSOA JURIDICA' 'PESSOA FISICA'
 'INSCRICAO GENERICA CREDORA' 'BANCO']

In [12]:
Siga2016 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2016.csv',  engine = 'python',  delimiter=";", index_col=False,  dtype={'Emenda': object,'Empenhado': object, 'Pago': object,'Favorecido (Cod)':object})
Siga2016['Ano'] = 2016

In [13]:
Siga2017 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2017.csv',  engine = 'python',  delimiter=";", index_col=False,  dtype={'Emenda': object,'Empenhado': object, 'Pago': object,'Favorecido (Cod)':object})
Siga2017['Ano'] = 2017

In [14]:
Siga2018 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2018.csv',  engine = 'python',  delimiter=";", index_col=False,   dtype={'Emenda': object,'Empenhado': object, 'Pago': object,'Favorecido (Cod)':object})
Siga2018['Ano'] = 2018

In [15]:
Siga2019 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2019.csv',  engine = 'python',  delimiter=";", index_col=False,  dtype={'Emenda': object,'Empenhado': object, 'Pago': object,'Favorecido (Cod)':object})
Siga2019['Ano'] = 2019

In [16]:
Siga2020 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2020.csv', engine='python', delimiter=";", index_col=False, dtype={'Emenda': object, 'Empenhado': object, 'Pago': object, 'Favorecido (Cod)': object})
Siga2020['Ano'] = 2020

In [17]:
Siga2021 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2021.csv',  engine = 'python',  delimiter=";", index_col=False,  dtype={'Emenda': object,'Empenhado': object, 'Pago': object,'Favorecido (Cod)':object})
Siga2021['Ano'] = 2021

In [18]:
Siga2022 = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siga2022.csv',  engine = 'python',  delimiter=";", index_col=False,  dtype={'Emenda': object,'Empenhado': object, 'Pago': object,'Favorecido (Cod)':object})
Siga2022['Ano'] = 2022

In [19]:
SIGABASE1 = pd.concat([Siga2015,Siga2016,Siga2017,Siga2018,Siga2019,Siga2020,Siga2021,Siga2022], ignore_index=True, axis=0)

In [20]:
SIGABASE = SIGABASE1[SIGABASE1['Emenda'].astype(str).str.len() == 8]

In [21]:
SIGABASE['Empenhado'].fillna(0, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [115]:
def transform_value(value):
    # Check if the value is a string
    if isinstance(value, str):
        # Split the string based on the comma and take the first part
        integer_part = value.split(',')[0]
        return int(integer_part.replace('.', ''))
    else:
        # If the value is already an integer, return it as is
        return value

In [23]:
SIGABASE['Empenhado'] = SIGABASE['Empenhado'].apply(transform_value)

C:\Users\lunav\AppData\Local\Temp/ipykernel_19308/3443687479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SIGABASE['Empenhado'] = SIGABASE['Empenhado'].apply(transform_value)

In [617]:
def convert_to_numeric(value):
    return pd.to_numeric(value.replace(',', '.'), errors='coerce')

In [618]:
SIGABASE = SIGABASE[SIGABASE['Empenhado'] != 0]

In [619]:
SIGABASE = SIGABASE.dropna(subset=['Empenhado'])

In [620]:
SIGABASE['Empenhado'].fillna(0, inplace=True)

In [621]:
SIGABASE['Empenhado'] = SIGABASE['Empenhado'].fillna(0).astype(int)

In [622]:
SIGABASE.rename(columns={'Localidade.UF': 'SG_UF'}, inplace=True)

In [625]:
SIGABASE.rename(columns={'Localidade.Localidade.Localidade (Cod)': 'IBGE7'}, inplace=True)

In [626]:
SIGABASE.rename(columns={'Resultado EOF (Cod/Desc)': 'RP'}, inplace=True)

In [627]:
SIGABASE = SIGABASE.dropna(subset=['IBGE7'])

In [628]:
SIGABASE = SIGABASE.dropna(subset=['Emenda'])

In [629]:
SIGABASE['Emenda'] = SIGABASE['Emenda'].replace('7.10', '710')
SIGABASE['Emenda'] = SIGABASE['Emenda'].str.replace(r'\D', '', regex=True)
SIGABASE['CODPARLAMENTAR'] = SIGABASE['Emenda'].str[:4].fillna('0000').astype(str)

In [630]:
SIGABASE['CODPARLAMENTAR'] = SIGABASE['CODPARLAMENTAR'].str.replace('.', '', regex=True)

In [631]:
SIGABASE['CODPARLAMENTAR'] = SIGABASE['CODPARLAMENTAR'].astype(int)

In [632]:
SIGABASE['IBGE7'] = SIGABASE['IBGE7'].astype(int)

In [633]:
SIGABASE['Ano'] = SIGABASE['Ano'].astype(int)

In [603]:
SIGABASE['SG_UF'] = SIGABASE['SG_UF'].astype(str)

In [634]:
SIGABASE['RP'] = SIGABASE['RP'].astype(str)

In [635]:
SIGABASE = remove_special_and_accented_characters(SIGABASE)

In [636]:
SIGABASE

,Ano,SG_UF,Localidade.Localidade,IBGE7,Localidade (Tipo),Órgão (Cod/Desc),Funcional,Emenda,RP,Favorecido (Cod),Favorecido,Favorecido (Tipo),Localidade (Favorecido).UF,Localidade (Favorecido).Localidade,Localidade (Favorecido).Localidade.Localidade (Cod),Empenhado,Pago,Órgão AC (Cod/Desc),CODPARLAMENTAR
307,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,22000 MINISTRIO DA AGRICULTURA PECURIA E ABAS...,20608201420ZV0012,24240010,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,360E11,CAIXA ECONOMICA FEDERAL,PESSOA JURIDICA,DF,BRASILIA,5300108,9735,0,nan,2424
308,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,22000 MINISTRIO DA AGRICULTURA PECURIA E ABAS...,20608201420ZV0012,24240010,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,636E13,MUNICIPIO DE PORTO WALTER,PESSOA JURIDICA,AC,PORTO WALTER,1200393,379652,0,nan,2424
310,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,24000 MINISTRIO DA CINCIA TECNOLOGIA E INOVAO,19126202520V80012,29120004,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,636E13,ESTADO DO ACRE,PESSOA JURIDICA,AC,RIO BRANCO AC,1200401,262300,0,nan,2912
443,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,26000 MINISTRIO DA EDUCAO,12363203120RG0012,26870016,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,739E12,OTICA VICTOR LTDA,PESSOA JURIDICA,SC,TIJUCAS,4218004,100000,0,nan,2687
1063,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,26000 MINISTRIO DA EDUCAO,12364203220RK0012,29120017,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,775E12,METROHM BRASIL INSTRUMENTACAO ANALITICA EIRELI,PESSOA JURIDICA,SP,SAO PAULO,3550308,169000,0,nan,2912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6100235,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,2884509030EC20017,41860014,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,767E11,MUNICIPIO DE SITIO NOVO DO TOCANTINS,PESSOA JURIDICA,TO,SITIO NOVO DO TOCANTINS,1720804,200000,0,73000 TRANSFERNCIAS A ESTADOS DISTRITO FEDERA...,4186
6100236,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,2884509030EC20017,41860014,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,161E12,MUNICIPIO DE TALISMA,PESSOA JURIDICA,TO,TALISMA,1720978,1500000,1500000,73000 TRANSFERNCIAS A ESTADOS DISTRITO FEDERA...,4186
6100250,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,14422503421AR7111,37750002,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,264E13,ASSOCIACAO NACIONAL DE EQUOTERAPIA ANDE BRASIL,PESSOA JURIDICA,DF,BRASILIA,5300108,150000,0,81000 MINISTRIO DA MULHER DA FAMLIA E DOS DIR...,3775
6100265,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,14422503421AR7122,39730009,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,232E12,INSTITUTO RENASCER,PESSOA JURIDICA,DF,BRASILIA,5300108,590000,590000,81000 MINISTRIO DA MULHER DA FAMLIA E DOS DIR...,3973
6100267,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,14422503421AR7188,41860012,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,264E13,ASSOCIACAO NACIONAL DE EQUOTERAPIA ANDE BRASIL,PESSOA JURIDICA,DF,BRASILIA,5300108,500000,276518,81000 MINISTRIO DA MULHER DA FAMLIA E DOS DIR...,4186

In [644]:
conditionSIGABASE = (SIGABASE['RP'] == '6  DESP PRIM DISC EMENDAS INDIVIDUAIS')

In [645]:
SIGABASE = SIGABASE[conditionSIGABASE]

In [646]:
SIGABASE

,Ano,SG_UF,Localidade.Localidade,IBGE7,Localidade (Tipo),Órgão (Cod/Desc),Funcional,Emenda,RP,Favorecido (Cod),Favorecido,Favorecido (Tipo),Localidade (Favorecido).UF,Localidade (Favorecido).Localidade,Localidade (Favorecido).Localidade.Localidade (Cod),Empenhado,Pago,Órgão AC (Cod/Desc),CODPARLAMENTAR
307,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,22000 MINISTRIO DA AGRICULTURA PECURIA E ABAS...,20608201420ZV0012,24240010,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,360E11,CAIXA ECONOMICA FEDERAL,PESSOA JURIDICA,DF,BRASILIA,5300108,9735,0,nan,2424
308,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,22000 MINISTRIO DA AGRICULTURA PECURIA E ABAS...,20608201420ZV0012,24240010,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,636E13,MUNICIPIO DE PORTO WALTER,PESSOA JURIDICA,AC,PORTO WALTER,1200393,379652,0,nan,2424
310,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,24000 MINISTRIO DA CINCIA TECNOLOGIA E INOVAO,19126202520V80012,29120004,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,636E13,ESTADO DO ACRE,PESSOA JURIDICA,AC,RIO BRANCO AC,1200401,262300,0,nan,2912
443,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,26000 MINISTRIO DA EDUCAO,12363203120RG0012,26870016,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,739E12,OTICA VICTOR LTDA,PESSOA JURIDICA,SC,TIJUCAS,4218004,100000,0,nan,2687
1063,2015,AC,ACRE ESTADO,1200000,ACRE ESTADO,26000 MINISTRIO DA EDUCAO,12364203220RK0012,29120017,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,775E12,METROHM BRASIL INSTRUMENTACAO ANALITICA EIRELI,PESSOA JURIDICA,SP,SAO PAULO,3550308,169000,0,nan,2912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6100235,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,2884509030EC20017,41860014,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,767E11,MUNICIPIO DE SITIO NOVO DO TOCANTINS,PESSOA JURIDICA,TO,SITIO NOVO DO TOCANTINS,1720804,200000,0,73000 TRANSFERNCIAS A ESTADOS DISTRITO FEDERA...,4186
6100236,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,2884509030EC20017,41860014,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,161E12,MUNICIPIO DE TALISMA,PESSOA JURIDICA,TO,TALISMA,1720978,1500000,1500000,73000 TRANSFERNCIAS A ESTADOS DISTRITO FEDERA...,4186
6100250,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,14422503421AR7111,37750002,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,264E13,ASSOCIACAO NACIONAL DE EQUOTERAPIA ANDE BRASIL,PESSOA JURIDICA,DF,BRASILIA,5300108,150000,0,81000 MINISTRIO DA MULHER DA FAMLIA E DOS DIR...,3775
6100265,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,14422503421AR7122,39730009,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,232E12,INSTITUTO RENASCER,PESSOA JURIDICA,DF,BRASILIA,5300108,590000,590000,81000 MINISTRIO DA MULHER DA FAMLIA E DOS DIR...,3973
6100267,2022,TO,TOCANTINS ESTADO,1700000,ESTADO,nan,14422503421AR7188,41860012,6 DESP PRIM DISC EMENDAS INDIVIDUAIS,264E13,ASSOCIACAO NACIONAL DE EQUOTERAPIA ANDE BRASIL,PESSOA JURIDICA,DF,BRASILIA,5300108,500000,276518,81000 MINISTRIO DA MULHER DA FAMLIA E DOS DIR...,4186

In [648]:
SIGABASE.to_csv("SIGABASE.csv")

In [649]:
SIGAMUNPAR = SIGABASE.groupby(['Ano','IBGE7','SG_UF', 'CODPARLAMENTAR'])['Empenhado'].sum().reset_index()
print("Sum after grouping:", SIGAMUNPAR['Empenhado'].sum())

Sum after grouping: 64259487063

In [722]:
SIGAMUNPAR.to_csv("SIGAMUNPAR.csv")

In [650]:
SIGAMUNPAR = SIGAMUNPAR.reset_index()

In [651]:
SIGAbyyear = SIGABASE.groupby(['Ano','IBGE7'])['Empenhado'].sum().reset_index()
print("Sum after grouping:", SIGAbyyear['Empenhado'].sum())

Sum after grouping: 64259487063

In [652]:
pivot_SIGAbyyear = SIGAbyyear.pivot_table(index= 'IBGE7', columns='Ano', values='Empenhado', aggfunc='sum', fill_value=0)

In [653]:
pivot_SIGAbyyear = pivot_SIGAbyyear.reset_index()

In [654]:
new_column_names = ['IBGE7', 'AmmendEmpenho2015', 'AmmendEmpenho2016','AmmendEmpenho2017', 'AmmendEmpenho2018','AmmendEmpenho2019','AmmendEmpenho2020','AmmendEmpenho2021','AmmendEmpenho2022']

In [655]:
pivot_SIGAbyyear.columns = new_column_names

In [656]:
pivot_SIGAbyyear

,IBGE7,AmmendEmpenho2015,AmmendEmpenho2016,AmmendEmpenho2017,AmmendEmpenho2018,AmmendEmpenho2019,AmmendEmpenho2020,AmmendEmpenho2021,AmmendEmpenho2022
0,1100000,43029214,133856826,113631483,143209370,92067923,152918321,155733600,166572540
1,1100015,608000,0,0,0,1149186,0,0,250000
2,1100023,2612388,0,0,0,2804813,1475000,1000000,500000
3,1100031,0,0,0,0,549999,0,0,350000
4,1100049,0,500000,0,0,8780468,1800000,1000000,0
...,...,...,...,...,...,...,...,...,...
3345,9100000,100000,400000,3707471,3284089,4148523,4009675,2849890,2205674
3346,9200000,1957972,10906375,268186,18865425,3685914,3277358,2440000,2671926
3347,9300000,0,582715,0,1849653,500000,0,320000,10981488
3348,9400000,300000,3210830,10841056,14606997,2999800,31267807,42662963,26482213
3349,9500000,1000000,5072270,6809000,15955669,11890267,5370000,10347980,18238849

In [657]:
column_sum2015 = pivot_SIGAbyyear['AmmendEmpenho2015'].sum()
print("\nSum of the 'Value' column:", column_sum2015)

Sum of the 'Value' column: 3428734703

In [658]:
column_sum2016 = pivot_SIGAbyyear['AmmendEmpenho2016'].sum()
print("\nSum of the 'Value' column:", column_sum2016)

Sum of the 'Value' column: 7270572900

In [659]:
column_sum2017 = pivot_SIGAbyyear['AmmendEmpenho2017'].sum()
print("\nSum of the 'Value' column:", column_sum2017)

Sum of the 'Value' column: 7155514180

In [660]:
column_sum2018 = pivot_SIGAbyyear['AmmendEmpenho2018'].sum()
print("\nSum of the 'Value' column:", column_sum2018)

Sum of the 'Value' column: 8462353886

In [661]:
column_sum2019 = pivot_SIGAbyyear['AmmendEmpenho2019'].sum()
print("\nSum of the 'Value' column:", column_sum2019)

Sum of the 'Value' column: 8540277770

In [662]:
column_sum2020 = pivot_SIGAbyyear['AmmendEmpenho2020'].sum()
print("\nSum of the 'Value' column:", column_sum2020)

Sum of the 'Value' column: 9227956676

In [663]:
column_sum2021 = pivot_SIGAbyyear['AmmendEmpenho2021'].sum()
print("\nSum of the 'Value' column:", column_sum2021)

Sum of the 'Value' column: 9456245432

In [664]:
column_sum2022 = pivot_SIGAbyyear['AmmendEmpenho2022'].sum()
print("\nSum of the 'Value' column:", column_sum2022)

Sum of the 'Value' column: 10717831516

In [665]:
SIGAtotal = SIGABASE.groupby(['IBGE7'])['Empenhado'].sum().reset_index()
print("Sum after grouping:", SIGAbyyear['Empenhado'].sum())

Sum after grouping: 64259487063

# ELECTED DEPUTIES - VOTING DATABASE

SOURCE: https://dadosabertos.tse.jus.br/organization/tse-agel?page=2

Initial treatment at PowerQuery Excell
group by Ano, SGUF/CDMunicipio/NMMunicipio/NMCandidato/SGPartifo/DSComposicaoColigacao sum by qtd votos
filtered by 'DS_CARGO == "Deputado Estadual" and DS_SIT_TOT_TURNO != "NÃO ELEITO"
Signs removed from NM_CANDIDATO. I tried here, but it was not downloding the STE databases.

In [353]:
Eleições2014base = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\votacao_candidato_munzona_2014_BRASILPQREleitos.csv',  engine = 'python',  delimiter=";", index_col=False)

In [354]:
Eleições2014 = remove_special_and_accented_characters(Eleições2014base)

In [355]:
Eleições2014['NM_URNA_CANDIDATO'] = Eleições2014['NM_URNA_CANDIDATO'].astype(object)

In [356]:
Eleições2014

,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,SG_PARTIDO,DS_COMPOSICAO_COLIGACAO,NM_URNA_CANDIDATO,NM_CANDIDATO,Votos
0,2014,AC,1120,ACRELNDIA,PRB,PC do B PDT PEN PHS PPL PRB PROS PRP P...,ALAN RICK,ALAN RICK MIRANDA,348
1,2014,AC,1120,ACRELNDIA,PT,PC do B PDT PEN PHS PPL PRB PROS PRP P...,ANGELIM,RAIMUNDO ANGELIM VASCONCELOS,97
2,2014,AC,1120,ACRELNDIA,PSB,PC do B PDT PEN PHS PPL PRB PROS PRP P...,CSAR MESSIAS,CARLOS CESAR CORREIA DE MESSIAS,259
3,2014,AC,1120,ACRELNDIA,PMDB,PMDB PP PPS PR PSC PSD PSDB PT do B PT...,FLAVIANO MELO,FLAVIANO FLVIO BAPTISTA DE MELO,168
4,2014,AC,1120,ACRELNDIA,PMDB,PMDB PP PPS PR PSC PSD PSDB PT do B PT...,JSSICA SALES,JSSICA ROJAS SALES,11
...,...,...,...,...,...,...,...,...,...
174921,2014,TO,96431,XAMBIO,PSD,PMDB PSD PT PV,IRAJ ABREU,IRAJ SILVESTRE FILHO,52
174922,2014,TO,96431,XAMBIO,PMDB,PMDB PSD PT PV,JOSI NUNES,JOSINIANE BRAGA NUNES,8
174923,2014,TO,96431,XAMBIO,PP,DEM PDT PEN PHS PP PPS PR PRB PRP PRT...,LZARO BOTELHO,LZARO BOTELHO MARTINS,201
174924,2014,TO,96431,XAMBIO,DEM,DEM PDT PEN PHS PP PPS PR PRB PRP PRT...,PROFESSORA DORINHA,MARIA AUXILIADORA SEABRA REZENDE,1451
174925,2014,TO,96431,XAMBIO,PSB,DEM PDT PEN PHS PP PPS PR PRB PRP PRT...,VICENTINHO JUNIOR,VICENTE ALVES DE OLIVEIRA JUNIOR,10

In [54]:
Eleições2014group = Eleições2014.groupby(['SG_UF', 'ANO_ELEICAO', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NM_URNA_CANDIDATO','SG_PARTIDO'])['Votos'].sum()

In [55]:
Eleições2014group = Eleições2014group.reset_index()

In [56]:
Eleições2014group

,SG_UF,ANO_ELEICAO,CD_MUNICIPIO,NM_MUNICIPIO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos
0,AC,2014,1007,BUJARI,ALAN RICK,PRB,102
1,AC,2014,1007,BUJARI,ANGELIM,PT,255
2,AC,2014,1007,BUJARI,CSAR MESSIAS,PSB,362
3,AC,2014,1007,BUJARI,FLAVIANO MELO,PMDB,584
4,AC,2014,1007,BUJARI,JSSICA SALES,PMDB,25
...,...,...,...,...,...,...,...
174921,TO,2014,96997,BARROLNDIA,IRAJ ABREU,PSD,40
174922,TO,2014,96997,BARROLNDIA,JOSI NUNES,PMDB,25
174923,TO,2014,96997,BARROLNDIA,LZARO BOTELHO,PP,5
174924,TO,2014,96997,BARROLNDIA,PROFESSORA DORINHA,DEM,355
174925,TO,2014,96997,BARROLNDIA,VICENTINHO JUNIOR,PSB,140

In [57]:
Eleições2014group2 = Eleições2014.groupby(['SG_UF', 'ANO_ELEICAO', 'CD_MUNICIPIO', 'NM_MUNICIPIO'])['Votos'].sum()

In [58]:
Eleições2014group2 = Eleições2014group2.reset_index()

In [59]:
Eleições2014group2

     SG_UF  ANO_ELEICAO  CD_MUNICIPIO            NM_MUNICIPIO  Votos
0       AC         2014          1007                  BUJARI   3144
1       AC         2014          1015                CAPIXABA   2151
2       AC         2014          1023              PORTO ACRE   4352
3       AC         2014          1031     SANTA ROSA DO PURUS    752
4       AC         2014          1040    MARECHAL THAUMATURGO   3904
...    ...          ...           ...                     ...    ...
5565    TO         2014         96830                   FTIMA   1351
5566    TO         2014         96857           AUGUSTINPOLIS   6013
5567    TO         2014         96954     ALIANA DO TOCANTINS   1679
5568    TO         2014         96970  APARECIDA DO RIO NEGRO   1862
5569    TO         2014         96997              BARROLNDIA   1668

[5570 rows x 5 columns]

In [60]:
Eleições2018base = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\votacao_candidato_munzona_2018_BRASILPQREleitos.csv',  engine = 'python',  delimiter=";", index_col=False, encoding="utf-8")

In [61]:
Eleições2018 = remove_special_and_accented_characters(Eleições2018base)

In [62]:
Eleições2018

,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NM_CANDIDATO,NM_URNA_CANDIDATO,SG_PARTIDO,DS_COMPOSICAO_FEDERACAO,DT_GERACAO,Votos
0,2018,GO,92126,COLINAS DO SUL,ALCIDES RIBEIRO FILHO,PROFESSOR ALCIDES,PP,NULO,09042023,466
1,2018,GO,95850,SANTA ROSA DE GOIS,ALCIDES RIBEIRO FILHO,PROFESSOR ALCIDES,PP,NULO,09042023,16
2,2018,SP,70297,SANTA CRUZ DO RIO PARDO,KATIA DA SILVA SASTRE,POLICIAL KATIA SASTRE,PR,NULO,09042023,137
3,2018,MG,51616,SANTA MARIA DO SALTO,IGOR TARCIANO TIMO,IGOR TIMO,PODE,NULO,09042023,765
4,2018,MG,49417,PAR DE MINAS,IGOR TARCIANO TIMO,IGOR TIMO,PODE,NULO,09042023,307
...,...,...,...,...,...,...,...,...,...,...
141071,2018,MG,49077,OLARIA,JOSE VITOR DE RESENDE AGUIAR,Z VITOR,PMN,NULO,09042023,0
141072,2018,MG,51071,RIO NOVO,JOSE VITOR DE RESENDE AGUIAR,Z VITOR,PMN,NULO,09042023,1
141073,2018,MG,52590,SO JOS DA SAFIRA,JOSE VITOR DE RESENDE AGUIAR,Z VITOR,PMN,NULO,09042023,1
141074,2018,MG,46477,ITAJUB,JOSE VITOR DE RESENDE AGUIAR,Z VITOR,PMN,NULO,09042023,5
141075,2018,MG,41211,BELMIRO BRAGA,JOSE VITOR DE RESENDE AGUIAR,Z VITOR,PMN,NULO,09042023,0

In [63]:
Eleições2018group = Eleições2018.groupby(['SG_UF', 'ANO_ELEICAO', 'CD_MUNICIPIO','NM_MUNICIPIO', 'NM_URNA_CANDIDATO','SG_PARTIDO'])['Votos'].sum()

In [64]:
Eleições2018group = Eleições2018group.reset_index()

In [65]:
Eleições2018group

,SG_UF,ANO_ELEICAO,CD_MUNICIPIO,NM_MUNICIPIO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos
0,AC,2018,1007,BUJARI,ALAN RICK,DEM,310
1,AC,2018,1007,BUJARI,DRA VANDA MILANI,SOLIDARIEDADE,370
2,AC,2018,1007,BUJARI,JSSICA SALES,MDB,33
3,AC,2018,1007,BUJARI,MARA ROCHA,PSDB,763
4,AC,2018,1007,BUJARI,PERPETUA ALMEIDA,PC do B,574
...,...,...,...,...,...,...,...
141071,TO,2018,96997,BARROLNDIA,CARLOS HENRIQUE GAGUIM,DEM,1300
141072,TO,2018,96997,BARROLNDIA,ELI BORGES,SOLIDARIEDADE,102
141073,TO,2018,96997,BARROLNDIA,OSIRES DAMASO,PSC,895
141074,TO,2018,96997,BARROLNDIA,TIAGO DIMAS,SOLIDARIEDADE,13
141075,TO,2018,96997,BARROLNDIA,VICENTINHO JUNIOR,PR,20

In [66]:
Eleições2018group2 = Eleições2018.groupby(['SG_UF', 'ANO_ELEICAO', 'CD_MUNICIPIO', 'NM_MUNICIPIO'])['Votos'].sum()

In [67]:
Eleições2018group2 = Eleições2018group2.reset_index()

In [68]:
Eleições2018group2

     SG_UF  ANO_ELEICAO  CD_MUNICIPIO            NM_MUNICIPIO  Votos
0       AC         2018          1007                  BUJARI   2050
1       AC         2018          1015                CAPIXABA   1174
2       AC         2018          1023              PORTO ACRE   2659
3       AC         2018          1031     SANTA ROSA DO PURUS    576
4       AC         2018          1040    MARECHAL THAUMATURGO   3545
...    ...          ...           ...                     ...    ...
5565    TO         2018         96830                   FTIMA   1105
5566    TO         2018         96857           AUGUSTINPOLIS   4899
5567    TO         2018         96954     ALIANA DO TOCANTINS   1433
5568    TO         2018         96970  APARECIDA DO RIO NEGRO   1319
5569    TO         2018         96997              BARROLNDIA   2330

[5570 rows x 5 columns]

# Informing congressman code for the elected deputies 

the list of congressman code was obtained with Siop, the congressman code is the first four digits of the amendment code

In [357]:
Congressmancodebase = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Lista cod deputado.csv',  engine = 'python',  delimiter=";", index_col=False, encoding="utf-8")

In [358]:
Congressmancodebase['NM_URNA_CANDIDATO'] = Congressmancodebase['NM_URNA_CANDIDATO'].astype(object)

In [359]:
Congressmancode = remove_special_and_accented_characters(Congressmancodebase)

In [360]:
Congressmancode.reset_index(drop=True)

     CODPARLAMENTAR            NM_URNA_CANDIDATO
0              1048                    JOS ANBAL
1              1051               LUCIANO CASTRO
2              1063               VALDIR COLATTO
3              1064                 VILMAR ROCHA
4              1066  ANTONIO CARLOS MENDES THAME
...             ...                          ...
1433           2397                         HUGO
1434           3713       MARCELO ALVARO ANTONIO
1435           1984               ONYX LORENZONI
1436           2812       PASTOR MARCO FELICIANO
1437           2847                  SANDRO ALEX

[1438 rows x 2 columns]

In [361]:
Eleições2014cod = pd.merge(Eleições2014group, Congressmancode, how = 'left', on = 'NM_URNA_CANDIDATO')

In [362]:
Eleições2014cod

,SG_UF,ANO_ELEICAO,CD_MUNICIPIO,NM_MUNICIPIO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR
0,AC,2014,1007,BUJARI,ALAN RICK,PRB,102,3036
1,AC,2014,1007,BUJARI,ANGELIM,PT,255,3048
2,AC,2014,1007,BUJARI,CSAR MESSIAS,PSB,362,3072
3,AC,2014,1007,BUJARI,FLAVIANO MELO,PMDB,584,2424
4,AC,2014,1007,BUJARI,JSSICA SALES,PMDB,25,3640
...,...,...,...,...,...,...,...,...
197200,TO,2014,96997,BARROLNDIA,IRAJ ABREU,PSD,40,2691
197201,TO,2014,96997,BARROLNDIA,JOSI NUNES,PMDB,25,3695
197202,TO,2014,96997,BARROLNDIA,LZARO BOTELHO,PP,5,2429
197203,TO,2014,96997,BARROLNDIA,PROFESSORA DORINHA,DEM,355,2693
197204,TO,2014,96997,BARROLNDIA,VICENTINHO JUNIOR,PSB,140,3775

In [363]:
IBGE.rename(columns={"MUNICIPIO": "NM_MUNICIPIO"})

     SG_UF             NM_MUNICIPIO    IBGE7   IBGE6 CD_MUNICIPIO  IBGE4
0       RO     ALTA FLORESTA DOESTE  1100015  110001           15      1
1       RO  ALTO ALEGRE DOS PARECIS  1100379  110037          379     37
2       RO              ALTO PARASO  1100403  110040          403     40
3       RO          ALVORADA DOESTE  1100346  110034          346     34
4       RO                ARIQUEMES  1100023  110002           23      2
...    ...                      ...      ...     ...          ...    ...
5565    GO                VIANPOLIS  5222005  522200        22005   2200
5566    GO            VICENTINPOLIS  5222054  522205        22054   2205
5567    GO                 VILA BOA  5222203  522220        22203   2220
5568    GO             VILA PROPCIO  5222302  522230        22302   2230
5569    DF                  BRASLIA  5300108  530010          108     10

[5570 rows x 6 columns]

In [364]:
Eleições2014cod['NM_MUNICIPIO'] = Eleições2014cod['NM_MUNICIPIO'].astype(object)
Eleições2014cod['SG_UF'] = Eleições2014cod['SG_UF'].astype(object)

In [365]:
Eleições2014codIBGE = pd.merge(Eleições2014cod, IBGE, left_on=['NM_MUNICIPIO', 'SG_UF'], right_on=['MUNICIPIO', 'SG_UF'])

In [366]:
Eleições2014codIBGE

,SG_UF,ANO_ELEICAO,CD_MUNICIPIO_x,NM_MUNICIPIO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR,MUNICIPIO,IBGE7,IBGE6,CD_MUNICIPIO_y,IBGE4
0,AC,2014,1007,BUJARI,ALAN RICK,PRB,102,3036,BUJARI,1200138,120013,138,13
1,AC,2014,1007,BUJARI,ANGELIM,PT,255,3048,BUJARI,1200138,120013,138,13
2,AC,2014,1007,BUJARI,CSAR MESSIAS,PSB,362,3072,BUJARI,1200138,120013,138,13
3,AC,2014,1007,BUJARI,FLAVIANO MELO,PMDB,584,2424,BUJARI,1200138,120013,138,13
4,AC,2014,1007,BUJARI,JSSICA SALES,PMDB,25,3640,BUJARI,1200138,120013,138,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195596,TO,2014,96997,BARROLNDIA,IRAJ ABREU,PSD,40,2691,BARROLNDIA,1703107,170310,3107,310
195597,TO,2014,96997,BARROLNDIA,JOSI NUNES,PMDB,25,3695,BARROLNDIA,1703107,170310,3107,310
195598,TO,2014,96997,BARROLNDIA,LZARO BOTELHO,PP,5,2429,BARROLNDIA,1703107,170310,3107,310
195599,TO,2014,96997,BARROLNDIA,PROFESSORA DORINHA,DEM,355,2693,BARROLNDIA,1703107,170310,3107,310
195600,TO,2014,96997,BARROLNDIA,VICENTINHO JUNIOR,PSB,140,3775,BARROLNDIA,1703107,170310,3107,310

In [367]:
Eleições2018cod = pd.merge(Eleições2018group, Congressmancode, how = 'left', on = 'NM_URNA_CANDIDATO')

In [368]:
Eleições2018cod

,SG_UF,ANO_ELEICAO,CD_MUNICIPIO,NM_MUNICIPIO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR
0,AC,2018,1007,BUJARI,ALAN RICK,DEM,310,3036
1,AC,2018,1007,BUJARI,DRA VANDA MILANI,SOLIDARIEDADE,370,3967
2,AC,2018,1007,BUJARI,JSSICA SALES,MDB,33,3640
3,AC,2018,1007,BUJARI,MARA ROCHA,PSDB,763,4038
4,AC,2018,1007,BUJARI,PERPETUA ALMEIDA,PC do B,574,NaN
...,...,...,...,...,...,...,...,...
151601,TO,2018,96997,BARROLNDIA,CARLOS HENRIQUE GAGUIM,DEM,1300,3068
151602,TO,2018,96997,BARROLNDIA,ELI BORGES,SOLIDARIEDADE,102,3973
151603,TO,2018,96997,BARROLNDIA,OSIRES DAMASO,PSC,895,4122
151604,TO,2018,96997,BARROLNDIA,TIAGO DIMAS,SOLIDARIEDADE,13,4071
151605,TO,2018,96997,BARROLNDIA,VICENTINHO JUNIOR,PR,20,3775

In [369]:
Eleições2018cod['NM_MUNICIPIO'] = Eleições2018cod['NM_MUNICIPIO'].astype(object)
Eleições2018cod['SG_UF'] = Eleições2018cod['SG_UF'].astype(object)

In [370]:
Eleições2018codIBGE = pd.merge(Eleições2018cod, IBGE, left_on=['NM_MUNICIPIO', 'SG_UF'], right_on=['MUNICIPIO', 'SG_UF'])

In [371]:
Eleições2018codIBGE

,SG_UF,ANO_ELEICAO,CD_MUNICIPIO_x,NM_MUNICIPIO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR,MUNICIPIO,IBGE7,IBGE6,CD_MUNICIPIO_y,IBGE4
0,AC,2018,1007,BUJARI,ALAN RICK,DEM,310,3036,BUJARI,1200138,120013,138,13
1,AC,2018,1007,BUJARI,DRA VANDA MILANI,SOLIDARIEDADE,370,3967,BUJARI,1200138,120013,138,13
2,AC,2018,1007,BUJARI,JSSICA SALES,MDB,33,3640,BUJARI,1200138,120013,138,13
3,AC,2018,1007,BUJARI,MARA ROCHA,PSDB,763,4038,BUJARI,1200138,120013,138,13
4,AC,2018,1007,BUJARI,PERPETUA ALMEIDA,PC do B,574,NaN,BUJARI,1200138,120013,138,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150364,TO,2018,96997,BARROLNDIA,CARLOS HENRIQUE GAGUIM,DEM,1300,3068,BARROLNDIA,1703107,170310,3107,310
150365,TO,2018,96997,BARROLNDIA,ELI BORGES,SOLIDARIEDADE,102,3973,BARROLNDIA,1703107,170310,3107,310
150366,TO,2018,96997,BARROLNDIA,OSIRES DAMASO,PSC,895,4122,BARROLNDIA,1703107,170310,3107,310
150367,TO,2018,96997,BARROLNDIA,TIAGO DIMAS,SOLIDARIEDADE,13,4071,BARROLNDIA,1703107,170310,3107,310
150368,TO,2018,96997,BARROLNDIA,VICENTINHO JUNIOR,PR,20,3775,BARROLNDIA,1703107,170310,3107,310

In [372]:
ELECTIONS = pd.concat([Eleições2014codIBGE, Eleições2018codIBGE], ignore_index=True)

In [373]:
columns_to_drop = ['CD_MUNICIPIO_x', 'CD_MUNICIPIO_y', 'IBGE4', 'IBGE6','NM_MUNICIPIO']

In [374]:
ELECTIONS.drop(columns=columns_to_drop, inplace=True)

In [425]:
ELECTIONS

,SG_UF,ANO_ELEICAO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR,MUNICIPIO,IBGE7
0,AC,2014,ALAN RICK,PRB,102,3036,BUJARI,1200138
1,AC,2014,ANGELIM,PT,255,3048,BUJARI,1200138
2,AC,2014,CSAR MESSIAS,PSB,362,3072,BUJARI,1200138
3,AC,2014,FLAVIANO MELO,PMDB,584,2424,BUJARI,1200138
4,AC,2014,JSSICA SALES,PMDB,25,3640,BUJARI,1200138
...,...,...,...,...,...,...,...,...
345965,TO,2018,CARLOS HENRIQUE GAGUIM,DEM,1300,3068,BARROLNDIA,1703107
345966,TO,2018,ELI BORGES,SOLIDARIEDADE,102,3973,BARROLNDIA,1703107
345967,TO,2018,OSIRES DAMASO,PSC,895,4122,BARROLNDIA,1703107
345968,TO,2018,TIAGO DIMAS,SOLIDARIEDADE,13,4071,BARROLNDIA,1703107
345969,TO,2018,VICENTINHO JUNIOR,PR,20,3775,BARROLNDIA,1703107

In [426]:
ELECTIONS.to_csv("ELECTIONS.csv")

In [427]:
ELECTIONSBYMUN = ELECTIONS.groupby(['IBGE7','SG_UF', 'ANO_ELEICAO', 'MUNICIPIO'])['Votos'].sum()

In [428]:
ELECTIONSBYMUN = ELECTIONSBYMUN.reset_index()

In [441]:
pivot_ELECTIONSBYMUN = ELECTIONSBYMUN.pivot(index='IBGE7', columns='ANO_ELEICAO', values='Votos')

In [442]:
pivot_ELECTIONSBYMUN = pivot_ELECTIONSBYMUN.reset_index()

In [444]:
pivot_ELECTIONSBYMUN = pivot_ELECTIONSBYMUN.rename(columns={2014: 'VOTESELECTEDDEPUTY2014', 2018: 'VOTESELECTEDDEPUTY2018'})

In [446]:
pivot_ELECTIONSBYMUN.to_csv("ELECTIONSBYMUN.csv")

# SIOP - AMMENDMENTS INDICATION SOURCE 

SOURCE:https://www1.siop.planejamento.gov.br/QvAJAXZfc/opendoc.htm?document=IAS%2FExecucao_Orcamentaria.qvw&host=QVS%40pqlk04&anonymous=true&sheet=SH06

Treament in excell:
-CAPITAL LETTERS CONGRESSMAN NAME
-EXCLUDED SIGNS CONGRESSMAN NAME
-CREATED COLUM CONGRESSMAN CODE = 4 FIRST DIGITS OF AMENDMENT CODE
EXCLUDED COLUMN AUTOR
MUNICIPALITY TREATED SIGNS AND CAPS
CREATED COLUMN TO INFORM IF INSTRUMENT OF TRANSFER IS MORE FLEXIBLE 1 - YES 0 - NO. FLEXIBLE ARE SPECIAL TRANSFERS AND TRANSFERS OF NATIONAL HEALTH FUND BUDGETARY ACTIONS (4525, 2E89, 2E90)
VALUES TRANSFORMED TO INTERGER AND WITHPUT SIGNS
COLUMN AMMENDMENT CODE DIVIDED TO EXCLUDE YEAR

In [59]:
AMMENDMENTSINDICATION = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Siopindicacoes.csv',  engine = 'python',  delimiter=";", index_col=False, encoding='utf-8')

In [60]:
AMMENDMENTSINDICATION

,Ano Exercício,CODEMENDA,CODPARLAMENTAR,NM_CANDIDATO,Partido (sigla),Esfera,Órgão,Unidade Orçamentária (desc.),Programa,Ação (desc.),...,105 Bloqueado pela SOF,106 Bloqueado Remanejamento SOF,101 Bloqueado Remanejamento Setorial,Empenhado,Empenhado Liquidado,Pago,NM_MUNICIPIO,UF,Beneficiário (nome),Beneficiário
0,2015,0,(-3),Sem Autor,S/Emenda/Part.,10,14000,14116 - Tribunal Regional Eleitoral do Paraná,570,153K - Ampliação e Reforma de Cartório Eleitor...,...,0,0,0,999981,999981,0,PONTA GROSSA,PR,Nao Aplicavel,--------------
1,2015,0,(-3),Sem Autor,S/Emenda/Part.,10,14000,14116 - Tribunal Regional Eleitoral do Paraná,570,153L - Ampliação e Reforma de Cartório Eleitor...,...,0,0,0,1017980,1017980,0,TOLEDO,PR,Nao Aplicavel,--------------
2,2015,10480001,1048,José Aníbal,PSDB,20,36000,36901 - Fundo Nacional de Saúde,2015,8535 - Estruturação de Unidades de Atenção Esp...,...,0,0,0,0,0,0,NAO DEFINIDO,SP,Nao Aplicavel,--------------
3,2015,10480002,1048,José Aníbal,PSDB,20,36000,36901 - Fundo Nacional de Saúde,2015,8535 - Estruturação de Unidades de Atenção Esp...,...,0,0,0,0,0,0,BARRA BONITA,SP,Nao Aplicavel,--------------
4,2015,10480003,1048,José Aníbal,PSDB,20,36000,36901 - Fundo Nacional de Saúde,2015,8535 - Estruturação de Unidades de Atenção Esp...,...,0,0,0,0,0,0,BARRA BONITA,SP,Nao Aplicavel,--------------
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81386,2022,92240002,9224,Marcos Rogério,DEM,20,36000,36901 - Fundo Nacional de Saúde,5019,2E89 - Incremento Temporário ao Custeio dos Se...,...,0,0,0,1629613,1629613,1629613,NAO DEFINIDO,RO,Nao Aplicavel,--------------
81387,2022,92240003,9224,Marcos Rogério,DEM,10,73000,73101 - Recursos sob Supervisão do Ministério ...,903,0EC2 - Transferências Especiais,...,0,0,0,2645880,2645880,1909800,NAO DEFINIDO,RO,Nao Aplicavel,--------------
81388,2022,92240003,9224,Marcos Rogério,DEM,10,73000,73101 - Recursos sob Supervisão do Ministério ...,903,0EC2 - Transferências Especiais,...,0,0,0,6173720,6173720,2500000,NAO DEFINIDO,RO,Nao Aplicavel,--------------
81389,2022,92240004,9224,Marcos Rogério,DEM,20,36000,36901 - Fundo Nacional de Saúde,5018,2E90 - Incremento Temporário ao Custeio dos Se...,...,0,0,0,2682535,2682535,2682535,NAO DEFINIDO,RO,Nao Aplicavel,--------------
81390,2022,92240005,9224,Marcos Rogério,DEM,20,36000,36901 - Fundo Nacional de Saúde,5019,8581 - Estruturação da Rede de Serviços de Ate...,...,0,0,0,1276720,1276720,0,NAO DEFINIDO,RO,Nao Aplicavel,--------------

In [61]:
AMMENDMENTSINDICATION = AMMENDMENTSINDICATION.reset_index()

In [62]:
AMMENDMENTSINDICATION['Empenhado'] = AMMENDMENTSINDICATION['Empenhado'].astype(float)

In [63]:
AMMENDMENTSINDICATION['Empenhado'] = AMMENDMENTSINDICATION['Empenhado'].astype(float)

In [64]:
sum_condition_SIOP= AMMENDMENTSINDICATION.loc[AMMENDMENTSINDICATION['CODEMENDA'] != '0', 'Empenhado'].sum()

In [65]:
print("Sum of 'Empenhado' where 'Emenda' is 'true':", sum_condition_SIOP)

Sum of 'Empenhado' where 'Emenda' is 'true': 64261513772.0

# SICONV - Agreements / Convenios  database

Source:https://www.gov.br/plataformamaisbrasil/pt-br/ferramentas-de-gestao-e-transparencia-1/download-de-dados-da-plataforma-1

Data treatment:
Created column "Situação in Siconvconvenio to aggregate the different ocurrences in:

Administrative pendency
Assinatura Pendente Registro TV Siafi
Cancelado
Convênio Anulado
Convênio Rescindido
Inadimplente
Prestação de Contas em Complementação
Proposta/Plano de Trabalho Aprovado
Proposta/Plano de Trabalho Complementado em Análise
Proposta/Plano de Trabalho Complementado Enviado para Análise
Aguardando Prestação de Contas
Assinado
Blanks

Regular
Em execução
Prestação de Contas Aprovada
Prestação de Contas Comprovada em Análise
Prestação de Contas Concluída
Prestação de Contas em Análise
Prestação de Contas enviada para Análise
Prestação de Contas Iniciada Por Antecipação

Irregular
Prestação de Contas Aprovada com Ressalvas
Prestação de Contas Rejeitada
"

In Siconvpropostabase, exlusion in the excell of the following situations:

Classificada em Análise Preliminar
Eliminada em Análise Preliminar
Enviada para Análise Preliminar
Proposta Eliminada em Chamamento Público
Proposta/Plano de Trabalho Cadastrados
Proposta/Plano de Trabalho Complementado em Análise
Proposta/Plano de Trabalho Complementado Enviado para Análise
Proposta/Plano de Trabalho em Análise
Proposta/Plano de Trabalho em Complementação
Proposta/Plano de Trabalho Enviado para Análise
Proposta/Plano de Trabalho Rejeitados
Proposta/Plano de Trabalho Rejeitados por Impedimento técnico


settlement and payment information from Siconv are not trustworthy

In [10]:
Siconvpropostabase = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\siconv_proposta.csv',  engine = 'python',  delimiter=";", index_col=False)

In [11]:
conditionproposta = Siconvpropostabase['ANO_PROP'] > 2015

In [12]:
Siconvproposta = Siconvpropostabase[conditionproposta]

In [13]:
Siconvproposta = remove_special_and_accented_characters(Siconvpropostabase)

In [42]:
Siconvproposta

,ID_PROPOSTA,UF_PROPONENTE,MUNIC_PROPONENTE,COD_MUNIC_IBGE,COD_ORGAO_SUP,DESC_ORGAO_SUP,NATUREZA_JURIDICA,NR_PROPOSTA,DIA_PROP,MES_PROP,...,DIA_INIC_VIGENCIA_PROPOSTA,DIA_FIM_VIGENCIA_PROPOSTA,OBJETO_PROPOSTA,ITEM_INVESTIMENTO,ENVIADA_MANDATARIA,NOME_SUBTIPO_PROPOSTA,DESCRICAO_SUBTIPO_PROPOSTA,VL_GLOBAL_PROP,VL_REPASSE_PROP,VL_CONTRAPARTIDA_PROP
0,1195,RS,NOVA ALVORADA,4312757,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,102008,23,7,...,17112008,16112009,PAVIMENTAR 10500 METROS QUADRADOS COM ASFALTO ...,nan,NO APLICVEL,nan,nan,339990.0,300000.00,39990.00
1,1196,RS,NOVA ALVORADA,4312757,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,112008,23,7,...,15122008,31122009,PAVIMENTAR 7000 METROS QUADRADOS COM ASFALTO N...,nan,NO APLICVEL,nan,nan,336000.0,302000.00,34000.00
2,1205,RS,SEBERI,4320206,44000,MINISTERIO DO MEIO AMBIENTE,Administrao Pblica Municipal,142008,30,7,...,30072008,30072009,Aquisio de uma mquina carregadeira para auxili...,nan,NO APLICVEL,nan,nan,370800.0,360000.00,10800.00
3,1206,PR,PATO BRANCO,4118501,44000,MINISTERIO DO MEIO AMBIENTE,Administrao Pblica Municipal,152008,31,7,...,06102008,30092009,Implantao e melhoria do Sistema de coleta tran...,nan,NO APLICVEL,nan,nan,2872500.0,1997500.00,875000.00
4,1222,RS,BOSSOROCA,4302501,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,312008,26,8,...,03112008,31072009,Construo do Prtico de Entrada da Cidade de Bos...,nan,NO,nan,nan,115000.0,103500.00,11500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738840,1933828,RO,MACHADINHO DOESTE,1100130,53000,MINISTRIO DA INTEGRAO E DO DESENVOLVIMENTO REG...,Administrao Pblica Municipal,629462023,6,11,...,06112023,31072025,AQUISIO DE EQUIPAMENTOS,Obras e Servios de Engenharia,NO,nan,nan,1250000.0,1000000.00,250000.00
738841,1933835,AC,RIO BRANCO,1200401,52000,MINISTERIO DA DEFESA,Administrao Pblica Municipal,629492023,6,11,...,06112023,06112025,Aquisio de veculo para transporte de carga,Equipamentos,NO APLICVEL,nan,nan,385000.0,384001.00,999.00
738842,1933841,RO,OURO PRETO DO OESTE,1100155,53000,MINISTRIO DA INTEGRAO E DO DESENVOLVIMENTO REG...,Administrao Pblica Municipal,629512023,6,11,...,06112023,31122026,Aquisio de Equipamento de construo,Equipamentos,NO APLICVEL,nan,nan,774000.0,764000.00,10000.00
738843,1933856,MG,ALMENARA,3101706,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,629542023,6,11,...,06112023,31122024,Construo do parque de exposies de Almenara MG,Obras e Servios de Engenharia,NO,nan,nan,4800000.0,4785919.00,14081.00
738844,1933861,SP,COSMORAMA,3512902,56000,MINISTERIO DAS CIDADES,Administrao Pblica Municipal,629562023,6,11,...,06112023,06112025,Execucao de tratamento de lodo da estacao de t...,Obras e Servios de Engenharia,NO,nan,nan,529554.0,524258.46,5295.54

In [14]:
Siconvconveniobase = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\siconv_convenio.csv',  engine = 'python',  delimiter=";", index_col=False)

In [15]:
conditionconvenios = Siconvconveniobase['ANO'] > 2015

In [16]:
Siconvconvenio = Siconvconveniobase[conditionconvenios]

In [26]:
Siconvconvenio.loc[:, 'VL_REPASSE_CONV'] = pd.to_numeric(Siconvconvenio['VL_REPASSE_CONV'], errors='coerce')

In [27]:
Siconvconvenio.loc[:, 'VL_DESEMBOLSADO_CONV'] = pd.to_numeric(Siconvconvenio['VL_DESEMBOLSADO_CONV'], errors='coerce')

In [28]:
Siconvconvenio.loc[:, 'VL_DESEMBOLSADO_CONV'] = Siconvconvenio['VL_DESEMBOLSADO_CONV'].fillna(0)

In [29]:
Siconvconvenio.loc[:, 'VL_REPASSE_CONV'] = (Siconvconvenio['VL_REPASSE_CONV'].fillna(0) / 100).astype(int)

In [30]:
Siconvconvenio.loc[:, 'VL_DESEMBOLSADO_CONV'] = (Siconvconvenio['VL_DESEMBOLSADO_CONV'] / 100).astype(int)

In [37]:
Siconvconvenio = remove_special_and_accented_characters(Siconvconvenio)

C:\Users\lunav\AppData\Local\Temp/ipykernel_15636/734696937.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].replace(regex=r'[^a-zA-Z0-9\s]', value='')  # Remove special characters
C:\Users\lunav\AppData\Local\Temp/ipykernel_15636/734696937.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: ''.join(char for char in unicodedata.normalize('NFKD', str(x)) if unicodedata.category(char) != 'Mn'))

In [35]:
Siconvemendasbase = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\siconv_emendaS.csv',  engine = 'python',  delimiter=";", index_col=False)

In [36]:
Siconvemendas = remove_special_and_accented_characters(Siconvemendasbase)

In [38]:
CONVENIOSbase1 = pd.merge(Siconvproposta, Siconvconvenio, how='outer', on = 'ID_PROPOSTA')

In [43]:
CONVENIOSbase1

,ID_PROPOSTA,UF_PROPONENTE,MUNIC_PROPONENTE,COD_MUNIC_IBGE,COD_ORGAO_SUP,DESC_ORGAO_SUP,NATUREZA_JURIDICA,NR_PROPOSTA,DIA_PROP,MES_PROP,...,VL_REPASSE_CONV,VL_CONTRAPARTIDA_CONV,VL_EMPENHADO_CONV,VL_DESEMBOLSADO_CONV,VL_SALDO_REMAN_TESOURO,VL_SALDO_REMAN_CONVENENTE,VL_RENDIMENTO_APLICACAO,VL_INGRESSO_CONTRAPARTIDA,VL_SALDO_CONTA,VALOR_GLOBAL_ORIGINAL_CONV
0,1195,RS,NOVA ALVORADA,4312757,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,102008,23,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1196,RS,NOVA ALVORADA,4312757,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,112008,23,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1205,RS,SEBERI,4320206,44000,MINISTERIO DO MEIO AMBIENTE,Administrao Pblica Municipal,142008,30,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1206,PR,PATO BRANCO,4118501,44000,MINISTERIO DO MEIO AMBIENTE,Administrao Pblica Municipal,152008,31,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1222,RS,BOSSOROCA,4302501,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,312008,26,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738842,1933828,RO,MACHADINHO DOESTE,1100130,53000,MINISTRIO DA INTEGRAO E DO DESENVOLVIMENTO REG...,Administrao Pblica Municipal,629462023,6,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738843,1933835,AC,RIO BRANCO,1200401,52000,MINISTERIO DA DEFESA,Administrao Pblica Municipal,629492023,6,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738844,1933841,RO,OURO PRETO DO OESTE,1100155,53000,MINISTRIO DA INTEGRAO E DO DESENVOLVIMENTO REG...,Administrao Pblica Municipal,629512023,6,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738845,1933856,MG,ALMENARA,3101706,54000,MINISTERIO DO TURISMO,Administrao Pblica Municipal,629542023,6,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738846,1933861,SP,COSMORAMA,3512902,56000,MINISTERIO DAS CIDADES,Administrao Pblica Municipal,629562023,6,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
CONVENIOSbase2 = pd.merge(CONVENIOSbase1, Siconvemendas, how='outer', on = 'ID_PROPOSTA')

In [44]:
CONVENIOSbase2

,ID_PROPOSTA,UF_PROPONENTE,MUNIC_PROPONENTE,COD_MUNIC_IBGE,COD_ORGAO_SUP,DESC_ORGAO_SUP,NATUREZA_JURIDICA,NR_PROPOSTA,DIA_PROP,MES_PROP,...,QUALIF_PROPONENTE,COD_PROGRAMA_EMENDA,NR_EMENDA,NOME_PARLAMENTAR,COD_PARLAMENTAR,BENEFICIARIO_EMENDA,IND_IMPOSITIVO,TIPO_PARLAMENTAR,VALOR_REPASSE_PROPOSTA_EMENDA,VALOR_REPASSE_EMENDA
0,1195.0,RS,NOVA ALVORADA,4312757.0,54000.0,MINISTERIO DO TURISMO,Administrao Pblica Municipal,102008,23.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1196.0,RS,NOVA ALVORADA,4312757.0,54000.0,MINISTERIO DO TURISMO,Administrao Pblica Municipal,112008,23.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1205.0,RS,SEBERI,4320206.0,44000.0,MINISTERIO DO MEIO AMBIENTE,Administrao Pblica Municipal,142008,30.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1206.0,PR,PATO BRANCO,4118501.0,44000.0,MINISTERIO DO MEIO AMBIENTE,Administrao Pblica Municipal,152008,31.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1222.0,RS,BOSSOROCA,4302501.0,54000.0,MINISTERIO DO TURISMO,Administrao Pblica Municipal,312008,26.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,5.320000e+12,60110002,COM DESENV REGIONAL E TURISMO,6011.0,1.130000e+13,NO,COMISSAO,1000000,nan
868262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,5.320000e+12,60110002,COM DESENV REGIONAL E TURISMO,6011.0,1.140000e+13,NO,COMISSAO,1000000,nan
868263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,5.320000e+12,60110002,COM DESENV REGIONAL E TURISMO,6011.0,1.140000e+13,NO,COMISSAO,1000000,nan
868264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,5.320000e+12,60110002,COM DESENV REGIONAL E TURISMO,6011.0,3.570000e+13,NO,COMISSAO,1000000,nan
868265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nan,5.200000e+12,71020002,BANCADA DO ACRE,7102.0,6.360000e+13,NO,BANCADA,1440000,nan

In [46]:
condition = CONVENIOSbase2['TIPO_PARLAMENTAR'] == 'INDIVIDUAL'

In [47]:
CONVENIOS = CONVENIOSbase2[condition]

In [48]:
CONVENIOS.to_csv("CONVENIOS.csv")

#  Merging  MUNICIPALITIES INDICATORS WITH SIGA 

I had previoulsy created a dataset with a number of social and economic indicators from IBGE and other sources

In [45]:
MUNICIPALITIES = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\Municipalities.csv',  engine = 'python',  delimiter=";", index_col=False)

In [46]:
MUNICIPALITIES

,IBGE7,IBGE4,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,RHDiretaEstag2012,RHDiretaSemVinc2012,RHIndiretaExiste2012,...,CadUnico2020,cluster,stateorg,statevalue,statepart,mktorg,mktvalue,csorg,csvalue,cspart
0,1100015,15,110001,994.0,792.0,122.0,80.0,0.0,0.0,-1.0,...,8172,0,medium,medium,medium,high,medium,high,medium,medium
1,1100023,23,110002,2578.0,2173.0,36.0,205.0,122.0,42.0,1.0,...,22165,2,low,high,medium,high,high,medium,medium,medium
2,1100031,31,110003,320.0,245.0,26.0,48.0,1.0,0.0,-1.0,...,1266,0,medium,medium,medium,medium,medium,medium,medium,medium
3,1100049,49,110004,2144.0,1543.0,156.0,445.0,0.0,0.0,-1.0,...,15419,2,low,high,medium,high,high,medium,medium,medium
4,1100056,56,110005,580.0,492.0,18.0,68.0,0.0,2.0,-1.0,...,4015,2,medium,high,low,high,medium,medium,medium,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5222005,22005,522200,556.0,480.0,0.0,35.0,0.0,41.0,1.0,...,2589,2,medium,high,low,low,medium,low,medium,high
5566,5222054,22054,522205,446.0,394.0,0.0,10.0,7.0,35.0,1.0,...,2492,0,high,medium,low,low,medium,low,high,high
5567,5222203,22203,522220,340.0,291.0,0.0,34.0,0.0,15.0,-1.0,...,2578,1,high,medium,medium,low,low,medium,high,medium
5568,5222302,22302,522230,261.0,61.0,0.0,200.0,0.0,0.0,-1.0,...,2382,0,medium,medium,low,low,medium,medium,high,high
5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,1042.0,7220.0,1.0,...,420865,2,medium,high,medium,high,high,high,high,medium

In [667]:
MUNICIPALITIES.columns = MUNICIPALITIES.columns.astype(str)

In [668]:
MUNICIPALITIES.columns = MUNICIPALITIES.columns.str.strip()

In [671]:
MUNICIPALITIES = remove_special_and_accented_characters(MUNICIPALITIES)

C:\Users\lunav\AppData\Local\Temp/ipykernel_15636/3849585534.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  cleaned_df[col] = df[col]
C:\Users\lunav\AppData\Local\Temp/ipykernel_15636/3849585534.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  cleaned_df[col] = df[col].replace(regex=r'[^a-zA-Z0-9\s]', value='')  # Remove special characters

In [672]:
MUNICIPALITIES = MUNICIPALITIES.reset_index()

In [673]:
MUNICIPALITIES['IBGE7'] = MUNICIPALITIES['IBGE7'].astype('str')

In [674]:
pivot_SIGAbyyear['IBGE7'] = pivot_SIGAbyyear['IBGE7'].astype('str')

In [675]:
SIGAtotal['IBGE7'] = SIGAtotal['IBGE7'].astype('str')

In [676]:
MUNICIPALITIESAMMEND = pd.merge(MUNICIPALITIES, pivot_SIGAbyyear, how='left', on=['IBGE7'])
print("Sum after merging:", MUNICIPALITIESAMMEND['AmmendEmpenho2015'].sum())

Sum after merging: 1130997216.0

In [677]:
MUNICIPALITIESAMMEND = pd.merge(MUNICIPALITIESAMMEND, SIGAtotal, how='left', on=['IBGE7'])
print("Sum after merging:", MUNICIPALITIESAMMEND['Empenhado'].sum())

Sum after merging: 9092914402.0

In [678]:
MUNICIPALITIESAMMEND = MUNICIPALITIESAMMEND.fillna(0)

In [679]:
MUNICIPALITIESAMMEND

,index,IBGE7,IBGE4,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,RHDiretaEstag2012,RHDiretaSemVinc2012,...,cspart,AmmendEmpenho2015,AmmendEmpenho2016,AmmendEmpenho2017,AmmendEmpenho2018,AmmendEmpenho2019,AmmendEmpenho2020,AmmendEmpenho2021,AmmendEmpenho2022,Empenhado
0,0,1100015,15,110001,994.0,792.0,122.0,80.0,0.0,0.0,...,medium,608000.0,0.0,0.0,0.0,1149186.0,0.0,0.0,250000.0,2007186.0
1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,122.0,42.0,...,medium,2612388.0,0.0,0.0,0.0,2804813.0,1475000.0,1000000.0,500000.0,8392201.0
2,2,1100031,31,110003,320.0,245.0,26.0,48.0,1.0,0.0,...,medium,0.0,0.0,0.0,0.0,549999.0,0.0,0.0,350000.0,899999.0
3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,0.0,0.0,...,medium,0.0,500000.0,0.0,0.0,8780468.0,1800000.0,1000000.0,0.0,12080468.0
4,4,1100056,56,110005,580.0,492.0,18.0,68.0,0.0,2.0,...,medium,1199982.0,0.0,0.0,0.0,3137099.0,0.0,0.0,0.0,4337081.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,0.0,41.0,...,high,0.0,350000.0,0.0,0.0,250000.0,0.0,0.0,0.0,600000.0
5566,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,7.0,35.0,...,high,0.0,0.0,0.0,0.0,500000.0,0.0,0.0,0.0,500000.0
5567,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,0.0,15.0,...,medium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,0.0,0.0,...,high,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,1042.0,7220.0,...,medium,1199879.0,3465164.0,7628471.0,5307136.0,200000.0,7746550.0,0.0,860158.0,26407358.0

# Merging Municipalities with votes

In [680]:
pivot_ELECTIONSBYMUN['IBGE7'] = pivot_ELECTIONSBYMUN['IBGE7'].astype('str')

In [681]:
MUNICIPALITIESAMMEND = pd.merge(MUNICIPALITIESAMMEND, pivot_ELECTIONSBYMUN, how='left', on=['IBGE7'])

In [682]:
MUNICIPALITIESAMMEND = MUNICIPALITIESAMMEND.fillna(0)

In [683]:
MUNICIPALITIESAMMEND

,index,IBGE7,IBGE4,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,RHDiretaEstag2012,RHDiretaSemVinc2012,...,AmmendEmpenho2016,AmmendEmpenho2017,AmmendEmpenho2018,AmmendEmpenho2019,AmmendEmpenho2020,AmmendEmpenho2021,AmmendEmpenho2022,Empenhado,VOTESELECTEDDEPUTY2014,VOTESELECTEDDEPUTY2018
0,0,1100015,15,110001,994.0,792.0,122.0,80.0,0.0,0.0,...,0.0,0.0,0.0,1149186.0,0.0,0.0,250000.0,2007186.0,0.0,0.0
1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,122.0,42.0,...,0.0,0.0,0.0,2804813.0,1475000.0,1000000.0,500000.0,8392201.0,6878.0,2752.0
2,2,1100031,31,110003,320.0,245.0,26.0,48.0,1.0,0.0,...,0.0,0.0,0.0,549999.0,0.0,0.0,350000.0,899999.0,1206.0,623.0
3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,0.0,0.0,...,500000.0,0.0,0.0,8780468.0,1800000.0,1000000.0,0.0,12080468.0,23935.0,6383.0
4,4,1100056,56,110005,580.0,492.0,18.0,68.0,0.0,2.0,...,0.0,0.0,0.0,3137099.0,0.0,0.0,0.0,4337081.0,2915.0,1418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,0.0,41.0,...,350000.0,0.0,0.0,250000.0,0.0,0.0,0.0,600000.0,5129.0,2385.0
5566,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,7.0,35.0,...,0.0,0.0,0.0,500000.0,0.0,0.0,0.0,500000.0,3888.0,1448.0
5567,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,0.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2028.0,1030.0
5568,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2146.0,2214.0
5569,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,1042.0,7220.0,...,3465164.0,7628471.0,5307136.0,200000.0,7746550.0,0.0,860158.0,26407358.0,807741.0,268713.0

# ORGANIZING STN DATAFRAME

STN data source is: https://www.tesourotransparente.gov.br/consultas/painel-das-emendas-parlamentares-individuais-e-de-bancada

In [684]:
STNpath = 'path/to/your/file.csv'

In [186]:
STN = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\STNDados-Abertos.csv',
                  engine='python',
                  usecols=['Código IBGE', 'Ano', 'Mês', 'Tipo Ente','Nome Favorecido', 'CNPJ do Favorecido', 'Nome Emenda', 'Valor'],
                  delimiter=";",
                  index_col=False,
                  encoding='latin1')

In [187]:
condition1 = (STN['Nome Emenda'] == 'Emenda Individual')
condition2 = (STN['Tipo Ente'] == 'Município')
combined_condition = condition1 & condition2

In [188]:
STN = STN[combined_condition]

In [189]:
def transform_value(value):
    # Split the string based on the comma and take the first part
    integer_part = value.split(',')[0]
    return int(integer_part.replace('.', ''))

In [190]:
STN['Valor'] = STN['Valor'].apply(transform_value)

In [191]:
STN.rename(columns={'Código IBGE': 'IBGE7'}, inplace=True)

In [192]:
STN['Valor'] = pd.to_numeric(STN['Valor'], errors='coerce')

In [193]:
STN['Ano'] = STN['Ano'].astype(str)

In [194]:
STN

,IBGE7,Ano,Mês,Tipo Ente,CNPJ do Favorecido,Nome Favorecido,Nome Emenda,Valor
0,4117222,2015,janeiro,Município,"7,71167E+13",MUNICIPIO DE NOVA SANTA ROSA,Emenda Individual,243750
1,4309704,2015,janeiro,Município,"8,76131E+13",MUNICIPIO DE HUMAITA,Emenda Individual,144300
2,3203908,2015,janeiro,Município,"2,71674E+13",MUNICIPIO DE NOVA VENECIA,Emenda Individual,97500
3,4206207,2015,janeiro,Município,"8,29266E+13",MUNICIPIO DE GRAVATAL,Emenda Individual,195000
4,4212254,2015,janeiro,Município,"9,57828E+13",MUNICIPIO DE PASSO DE TORRES,Emenda Individual,97500
...,...,...,...,...,...,...,...,...
261504,3203809,2023,novembro,Município,"2,70824E+13",MUNICIPIO DE MUQUI,Emenda Individual,343800
261505,1600238,2023,novembro,Município,"2,30668E+13",MUNICIPIO DE FERREIRA GOMES,Emenda Individual,382000
261506,2602308,2023,novembro,Município,"1,01215E+13",MUNICIPIO DE BONITO,Emenda Individual,274446
261507,2110708,2023,novembro,Município,"6,11369E+12",MUNICIPIO DE SAO DOMINGOS DO MARANHAO,Emenda Individual,255542
261508,3203106,2023,novembro,Município,"2,71657E+13",MUNICIPIO DE JERONIMO MONTEIRO,Emenda Individual,305000

In [195]:
sum_column2015= STN.loc[STN['Ano'] == '2015', 'Valor'].sum()
print("Sum ':", sum_column2015)

Sum ': 1680772916

In [196]:
sum_column2016= STN.loc[STN['Ano'] == '2016', 'Valor'].sum()
print("Sum ':", sum_column2016)

Sum ': 3647391099

In [197]:
sum_column2017= STN.loc[STN['Ano'] == '2017', 'Valor'].sum()
print("Sum ':", sum_column2017)

Sum ': 3156555954

In [198]:
sum_column2018= STN.loc[STN['Ano'] == '2018', 'Valor'].sum()
print("Sum ':", sum_column2018)

Sum ': 6780764136

In [199]:
sum_column2019= STN.loc[STN['Ano'] == '2019', 'Valor'].sum()
print("Sum ':", sum_column2019)

Sum ': 5999812086

In [200]:
sum_column2020= STN.loc[STN['Ano'] == '2020', 'Valor'].sum()
print("Sum ':", sum_column2020)

Sum ': 7385807432

In [201]:
sum_column2021= STN.loc[STN['Ano'] == '2021', 'Valor'].sum()
print("Sum ':", sum_column2021)

Sum ': 7733036012

In [202]:
sum_column2022= STN.loc[STN['Ano'] == '2022', 'Valor'].sum()
print("Sum ':", sum_column2022)

Sum ': 8578650206

In [204]:
pivot_STN = STN.pivot_table(index= 'IBGE7', columns='Ano', values='Valor', aggfunc='sum', fill_value=0)

In [205]:
pivot_STN

Ano,2015,2016,2017,2018,2019,2020,2021,2022,2023
IBGE7,,,,,,,,,
1100015,1906170,1709249,2115000,2169959,3102603,2029999,3468261,2471707,10133267
1100023,2386500,3785426,530000,4917097,3203349,6822804,3713200,3952390,13965894
1100031,200000,450000,350000,923840,1654951,1571784,1211869,2460853,3701010
1100049,1271375,1534104,2164600,2467346,7516473,4996806,6056915,4199044,11806222
1100056,2326967,3968409,1737819,2818861,2253912,2061762,1533276,6594506,12405663
...,...,...,...,...,...,...,...,...,...
5221908,380250,270575,0,372890,566855,470575,555191,100000,1402504
5222005,393669,342155,737548,576862,2396594,920825,626548,882317,1938750
5222054,600000,483824,0,474980,770000,485397,847583,1026451,360000
5222203,681030,0,652578,1245136,100000,106700,500000,980000,229206
5222302,146250,413250,398300,358275,428773,722857,0,914045,1099980

In [206]:
pivot_STN.columns = ['STN2015', 'STN2016','STN2017','STN2018','STN2019','STN2020','STN2021','STN2022','STN2023']

In [207]:
pivot_STN

,STN2015,STN2016,STN2017,STN2018,STN2019,STN2020,STN2021,STN2022,STN2023
IBGE7,,,,,,,,,
1100015,1906170,1709249,2115000,2169959,3102603,2029999,3468261,2471707,10133267
1100023,2386500,3785426,530000,4917097,3203349,6822804,3713200,3952390,13965894
1100031,200000,450000,350000,923840,1654951,1571784,1211869,2460853,3701010
1100049,1271375,1534104,2164600,2467346,7516473,4996806,6056915,4199044,11806222
1100056,2326967,3968409,1737819,2818861,2253912,2061762,1533276,6594506,12405663
...,...,...,...,...,...,...,...,...,...
5221908,380250,270575,0,372890,566855,470575,555191,100000,1402504
5222005,393669,342155,737548,576862,2396594,920825,626548,882317,1938750
5222054,600000,483824,0,474980,770000,485397,847583,1026451,360000
5222203,681030,0,652578,1245136,100000,106700,500000,980000,229206
5222302,146250,413250,398300,358275,428773,722857,0,914045,1099980

In [208]:
pivot_STN = pivot_STN.reset_index()

# MERGING MUNICIPALITIES WITH STN

In [685]:
pivot_STN['IBGE7'] = pivot_STN['IBGE7'].astype('str')

In [686]:
MUNICIPALITIESAMMEND['IBGE7'] = MUNICIPALITIESAMMEND['IBGE7'].astype('str')

In [687]:
MUNICIPALITIESFORANALYSIS = pd.merge(MUNICIPALITIESAMMEND, pivot_STN, how='left', on=['IBGE7'])

In [688]:
MUNICIPALITIESFORANALYSIS['STN2015'] = MUNICIPALITIESFORANALYSIS['STN2015'].fillna(0).astype('int64')
MUNICIPALITIESFORANALYSIS['STN2016'] = MUNICIPALITIESFORANALYSIS['STN2016'].fillna(0).astype('int64')
MUNICIPALITIESFORANALYSIS['STN2016'] = MUNICIPALITIESFORANALYSIS['STN2016'].fillna(0).astype('int64')
MUNICIPALITIESFORANALYSIS['STN2017'] = MUNICIPALITIESFORANALYSIS['STN2017'].fillna(0).astype('int64')
MUNICIPALITIESFORANALYSIS['STN2018'] = MUNICIPALITIESFORANALYSIS['STN2018'].fillna(0).astype('int64')
MUNICIPALITIESFORANALYSIS['STN2019'] = MUNICIPALITIESFORANALYSIS['STN2019'].fillna(0).astype('int64')
MUNICIPALITIESFORANALYSIS['STN2020'] = MUNICIPALITIESFORANALYSIS['STN2020'].fillna(0).astype('int64')
MUNICIPALITIESFORANALYSIS['STN2021'] = MUNICIPALITIESFORANALYSIS['STN2021'].fillna(0).astype('int64')

In [689]:
MUNICIPALITIESFORANALYSIS

,index,IBGE7,IBGE4,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,RHDiretaEstag2012,RHDiretaSemVinc2012,...,VOTESELECTEDDEPUTY2018,STN2015,STN2016,STN2017,STN2018,STN2019,STN2020,STN2021,STN2022,STN2023
0,0,1100015,15,110001,994.0,792.0,122.0,80.0,0.0,0.0,...,0.0,1906170,1709249,2115000,2169959,3102603,2029999,3468261,2471707.0,10133267.0
1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,122.0,42.0,...,2752.0,2386500,3785426,530000,4917097,3203349,6822804,3713200,3952390.0,13965894.0
2,2,1100031,31,110003,320.0,245.0,26.0,48.0,1.0,0.0,...,623.0,200000,450000,350000,923840,1654951,1571784,1211869,2460853.0,3701010.0
3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,0.0,0.0,...,6383.0,1271375,1534104,2164600,2467346,7516473,4996806,6056915,4199044.0,11806222.0
4,4,1100056,56,110005,580.0,492.0,18.0,68.0,0.0,2.0,...,1418.0,2326967,3968409,1737819,2818861,2253912,2061762,1533276,6594506.0,12405663.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,0.0,41.0,...,2385.0,393669,342155,737548,576862,2396594,920825,626548,882317.0,1938750.0
5566,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,7.0,35.0,...,1448.0,600000,483824,0,474980,770000,485397,847583,1026451.0,360000.0
5567,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,0.0,15.0,...,1030.0,681030,0,652578,1245136,100000,106700,500000,980000.0,229206.0
5568,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,0.0,0.0,...,2214.0,146250,413250,398300,358275,428773,722857,0,914045.0,1099980.0
5569,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,1042.0,7220.0,...,268713.0,0,0,0,0,0,0,0,NaN,NaN

In [690]:
MUNICIPALITIESFORANALYSIS.to_csv("MUNICIPALITIESFORANALYSIS.csv")

# MERGING SIGA WITH ELECTIONS

In [459]:
ELECTIONS

,SG_UF,ANO_ELEICAO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR,MUNICIPIO,IBGE7
0,AC,2014,ALAN RICK,PRB,102,3036,BUJARI,1200138
1,AC,2014,ANGELIM,PT,255,3048,BUJARI,1200138
2,AC,2014,CSAR MESSIAS,PSB,362,3072,BUJARI,1200138
3,AC,2014,FLAVIANO MELO,PMDB,584,2424,BUJARI,1200138
4,AC,2014,JSSICA SALES,PMDB,25,3640,BUJARI,1200138
...,...,...,...,...,...,...,...,...
345965,TO,2018,CARLOS HENRIQUE GAGUIM,DEM,1300,3068,BARROLNDIA,1703107
345966,TO,2018,ELI BORGES,SOLIDARIEDADE,102,3973,BARROLNDIA,1703107
345967,TO,2018,OSIRES DAMASO,PSC,895,4122,BARROLNDIA,1703107
345968,TO,2018,TIAGO DIMAS,SOLIDARIEDADE,13,4071,BARROLNDIA,1703107
345969,TO,2018,VICENTINHO JUNIOR,PR,20,3775,BARROLNDIA,1703107

In [700]:
AMMENDMENTS2015to2018 = SIGAMUNPAR[SIGAMUNPAR['Ano'].isin([2015, 2016, 2017, 2018])]

In [703]:
AMMENDMENTS2015to2018.loc[:, 'CODPARLAMENTAR'] = AMMENDMENTS2015to2018['CODPARLAMENTAR'].astype('Int64')

In [693]:
AMMENDMENTS2015to2018

      index   Ano    IBGE7 SG_UF  CODPARLAMENTAR  Empenhado
0         0  2015  1100000    RO            2048    7287624
1         1  2015  1100000    RO            2213    3681887
2         2  2015  1100000    RO            2633    5902249
3         3  2015  1100000    RO            2685    3239988
4         4  2015  1100000    RO            2917    5269831
...     ...   ...      ...   ...             ...        ...
6863   6863  2018  9100000    NO               0    3284089
6864   6864  2018  9200000    NE               0   18865425
6865   6865  2018  9300000    SD               0    1849653
6866   6866  2018  9400000    SL               0   14606997
6867   6867  2018  9500000    CO               0   15955669

[6868 rows x 6 columns]

In [704]:
column_sum = AMMENDMENTS2015to2018['Empenhado'].sum()
print("\nSum of the 'Value' column:", column_sum)

Sum of the 'Value' column: 26317175669

In [705]:
AMMENDMENTS2015to2018GROUP = AMMENDMENTS2015to2018.groupby(['IBGE7','SG_UF','CODPARLAMENTAR'])[['Empenhado']].agg('sum').reset_index()

In [706]:
AMMENDMENTS2015to2018GROUP

        IBGE7 SG_UF  CODPARLAMENTAR  Empenhado
0     1100000    RO               0  143209370
1     1100000    RO            2048   22212884
2     1100000    RO            2213    3681887
3     1100000    RO            2420   19485660
4     1100000    RO            2633   18982389
...       ...   ...             ...        ...
5356  9400000    SL            3077    3210830
5357  9500000    CO               0   15955669
5358  9500000    CO            2551   11588350
5359  9500000    CO            2831    1000000
5360  9500000    CO            3630     292920

[5361 rows x 4 columns]

In [697]:
AMMENDMENTS2015to2018GROUP.loc[:, 'KEY'] = (
    AMMENDMENTS2015to2018GROUP['SG_UF'].astype(str) +
    AMMENDMENTS2015to2018GROUP['CODPARLAMENTAR'].astype(str) +
    AMMENDMENTS2015to2018GROUP['IBGE7'].astype(str)
)

In [698]:
AMMENDMENTS2015to2018GROUP

        IBGE7 SG_UF  CODPARLAMENTAR  Empenhado            KEY
0     1100000    RO               0  143209370     RO01100000
1     1100000    RO            2048   22212884  RO20481100000
2     1100000    RO            2213    3681887  RO22131100000
3     1100000    RO            2420   19485660  RO24201100000
4     1100000    RO            2633   18982389  RO26331100000
...       ...   ...             ...        ...            ...
5356  9400000    SL            3077    3210830  SL30779400000
5357  9500000    CO               0   15955669     CO09500000
5358  9500000    CO            2551   11588350  CO25519500000
5359  9500000    CO            2831    1000000  CO28319500000
5360  9500000    CO            3630     292920  CO36309500000

[5361 rows x 5 columns]

In [699]:
column_sumAMMENDMENTS2015to2018GROUP = AMMENDMENTS2015to2018GROUP['Empenhado'].sum()
print("\nSum of the 'Value' column:", column_sumAMMENDMENTS2015to2018GROUP)

Sum of the 'Value' column: 26317175669

In [707]:
AMMENDMENTS2019to2022 = SIGAMUNPAR[SIGAMUNPAR['Ano'].isin([2019, 2020, 2021, 2022])]

In [708]:
AMMENDMENTS2019to2022GROUP = AMMENDMENTS2019to2022.groupby(['IBGE7','SG_UF','CODPARLAMENTAR'])[['Empenhado']].agg('sum').reset_index()

In [709]:
column_sumAMMENDMENTS2019to2022GROUP= AMMENDMENTS2019to2022GROUP['Empenhado'].sum()
print("\nSum of the 'Value' column:", column_sumAMMENDMENTS2019to2022GROUP)

Sum of the 'Value' column: 37942311394

In [710]:
AMMENDMENTS2019to2022GROUP.loc[:, 'KEY'] = (
    AMMENDMENTS2019to2022GROUP['SG_UF'].astype(str) +
    AMMENDMENTS2019to2022GROUP['CODPARLAMENTAR'].astype(str) +
    AMMENDMENTS2019to2022GROUP['IBGE7'].astype(str)
)

In [711]:
AMMENDMENTS2019to2022GROUP

        IBGE7 SG_UF  CODPARLAMENTAR  Empenhado            KEY
0     1100000    RO            2048    3565941  RO20481100000
1     1100000    RO            2420     349999  RO24201100000
2     1100000    RO            2421   40334854  RO24211100000
3     1100000    RO            2633   31956571  RO26331100000
4     1100000    RO            2917     343000  RO29171100000
...       ...   ...             ...        ...            ...
6844  9500000    CO            2826    9049980  CO28269500000
6845  9500000    CO            3803     299961  CO38039500000
6846  9500000    CO            3987    2370000  CO39879500000
6847  9500000    CO            4053    3252921  CO40539500000
6848  9500000    CO            4169    4198000  CO41699500000

[6849 rows x 5 columns]

In [712]:
ELECTIONS2014= ELECTIONS[ELECTIONS['ANO_ELEICAO'].isin([2014])]

In [715]:
ELECTIONS2014.loc[:, 'KEY'] = (
    ELECTIONS2014['SG_UF'].astype(str) +
    ELECTIONS2014['CODPARLAMENTAR'].astype(str) +
    ELECTIONS2014['IBGE7'].astype(str)
)

In [716]:
ELECTIONS2018= ELECTIONS[ELECTIONS['ANO_ELEICAO'].isin([2018])]

In [717]:
ELECTIONS2018.loc[:, 'KEY'] = (
    ELECTIONS2018['SG_UF'].astype(str) +
    ELECTIONS2018['CODPARLAMENTAR'].astype(str) +
    ELECTIONS2018['IBGE7'].astype(str)
)

In [718]:
ELECTIONS2014.loc[:, 'KEY'] = ELECTIONS2014['KEY'].astype(str)

In [719]:
AMMENDMENTS2015to2018GROUP.loc[:, 'KEY'] = ELECTIONS2014['KEY'].astype(str)

In [720]:
VOTEFORAMMENDELECTIONS2014 = pd.merge(
    ELECTIONS2014,
    AMMENDMENTS2015to2018GROUP.set_index('KEY'),
    how='left',
    left_on='KEY',
    right_index=True
)

In [721]:
VOTEFORAMMENDELECTIONS2014
#congressman with NaN values = did not indicate to municipality

,SG_UF_x,ANO_ELEICAO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR_x,MUNICIPIO,IBGE7_x,KEY,IBGE7_y,SG_UF_y,CODPARLAMENTAR_y,Empenhado
0,AC,2014,ALAN RICK,PRB,102,3036,BUJARI,1200138,AC30361200138,1100000.0,RO,0.0,143209370.0
1,AC,2014,ANGELIM,PT,255,3048,BUJARI,1200138,AC30481200138,1100000.0,RO,2048.0,22212884.0
2,AC,2014,CSAR MESSIAS,PSB,362,3072,BUJARI,1200138,AC30721200138,1100000.0,RO,2213.0,3681887.0
3,AC,2014,FLAVIANO MELO,PMDB,584,2424,BUJARI,1200138,AC24241200138,1100000.0,RO,2420.0,19485660.0
4,AC,2014,JSSICA SALES,PMDB,25,3640,BUJARI,1200138,AC36401200138,1100000.0,RO,2633.0,18982389.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195596,TO,2014,IRAJ ABREU,PSD,40,2691,BARROLNDIA,1703107,TO26911703107,NaN,NaN,NaN,NaN
195597,TO,2014,JOSI NUNES,PMDB,25,3695,BARROLNDIA,1703107,TO36951703107,NaN,NaN,NaN,NaN
195598,TO,2014,LZARO BOTELHO,PP,5,2429,BARROLNDIA,1703107,TO24291703107,NaN,NaN,NaN,NaN
195599,TO,2014,PROFESSORA DORINHA,DEM,355,2693,BARROLNDIA,1703107,TO26931703107,NaN,NaN,NaN,NaN
195600,TO,2014,VICENTINHO JUNIOR,PSB,140,3775,BARROLNDIA,1703107,TO37751703107,NaN,NaN,NaN,NaN

In [723]:
column_sumVOTEFORAMMENDELECTIONS2014= VOTEFORAMMENDELECTIONS2014['Empenhado'].sum()
print("\nSum of the 'Value' column:", column_sumVOTEFORAMMENDELECTIONS2014)

Sum of the 'Value' column: 29436445058.0

In [725]:
ELECTIONS2018.loc[:, 'KEY'] = ELECTIONS2018['KEY'].astype(str)

In [726]:
AMMENDMENTS2019to2022GROUP.loc[:, 'KEY'] = AMMENDMENTS2019to2022GROUP['KEY'].astype(str)

In [727]:
ELECTIONS2018

,SG_UF,ANO_ELEICAO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR,MUNICIPIO,IBGE7,KEY
195601,AC,2018,ALAN RICK,DEM,310,3036,BUJARI,1200138,AC30361200138
195602,AC,2018,DRA VANDA MILANI,SOLIDARIEDADE,370,3967,BUJARI,1200138,AC39671200138
195603,AC,2018,JSSICA SALES,MDB,33,3640,BUJARI,1200138,AC36401200138
195604,AC,2018,MARA ROCHA,PSDB,763,4038,BUJARI,1200138,AC40381200138
195605,AC,2018,PERPETUA ALMEIDA,PC do B,574,NaN,BUJARI,1200138,ACnan1200138
...,...,...,...,...,...,...,...,...,...
345965,TO,2018,CARLOS HENRIQUE GAGUIM,DEM,1300,3068,BARROLNDIA,1703107,TO30681703107
345966,TO,2018,ELI BORGES,SOLIDARIEDADE,102,3973,BARROLNDIA,1703107,TO39731703107
345967,TO,2018,OSIRES DAMASO,PSC,895,4122,BARROLNDIA,1703107,TO41221703107
345968,TO,2018,TIAGO DIMAS,SOLIDARIEDADE,13,4071,BARROLNDIA,1703107,TO40711703107
345969,TO,2018,VICENTINHO JUNIOR,PR,20,3775,BARROLNDIA,1703107,TO37751703107

In [728]:
AMMENDMENTS2019to2022GROUP

        IBGE7 SG_UF  CODPARLAMENTAR  Empenhado            KEY
0     1100000    RO            2048    3565941  RO20481100000
1     1100000    RO            2420     349999  RO24201100000
2     1100000    RO            2421   40334854  RO24211100000
3     1100000    RO            2633   31956571  RO26331100000
4     1100000    RO            2917     343000  RO29171100000
...       ...   ...             ...        ...            ...
6844  9500000    CO            2826    9049980  CO28269500000
6845  9500000    CO            3803     299961  CO38039500000
6846  9500000    CO            3987    2370000  CO39879500000
6847  9500000    CO            4053    3252921  CO40539500000
6848  9500000    CO            4169    4198000  CO41699500000

[6849 rows x 5 columns]

In [729]:
VOTEFORAMMENDELECTIONS2018 = pd.merge(
    ELECTIONS2018,
    AMMENDMENTS2019to2022GROUP.set_index('KEY'),
    how='left',
    left_on='KEY',
    right_index=True
)

In [730]:
VOTEFORAMMENDELECTIONS2018

,SG_UF_x,ANO_ELEICAO,NM_URNA_CANDIDATO,SG_PARTIDO,Votos,CODPARLAMENTAR_x,MUNICIPIO,IBGE7_x,KEY,IBGE7_y,SG_UF_y,CODPARLAMENTAR_y,Empenhado
195601,AC,2018,ALAN RICK,DEM,310,3036,BUJARI,1200138,AC30361200138,NaN,NaN,NaN,NaN
195602,AC,2018,DRA VANDA MILANI,SOLIDARIEDADE,370,3967,BUJARI,1200138,AC39671200138,1200138.0,AC,3967.0,250000.0
195603,AC,2018,JSSICA SALES,MDB,33,3640,BUJARI,1200138,AC36401200138,NaN,NaN,NaN,NaN
195604,AC,2018,MARA ROCHA,PSDB,763,4038,BUJARI,1200138,AC40381200138,NaN,NaN,NaN,NaN
195605,AC,2018,PERPETUA ALMEIDA,PC do B,574,NaN,BUJARI,1200138,ACnan1200138,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
345965,TO,2018,CARLOS HENRIQUE GAGUIM,DEM,1300,3068,BARROLNDIA,1703107,TO30681703107,NaN,NaN,NaN,NaN
345966,TO,2018,ELI BORGES,SOLIDARIEDADE,102,3973,BARROLNDIA,1703107,TO39731703107,NaN,NaN,NaN,NaN
345967,TO,2018,OSIRES DAMASO,PSC,895,4122,BARROLNDIA,1703107,TO41221703107,NaN,NaN,NaN,NaN
345968,TO,2018,TIAGO DIMAS,SOLIDARIEDADE,13,4071,BARROLNDIA,1703107,TO40711703107,NaN,NaN,NaN,NaN
345969,TO,2018,VICENTINHO JUNIOR,PR,20,3775,BARROLNDIA,1703107,TO37751703107,NaN,NaN,NaN,NaN

In [731]:
column_sumVOTEFORAMMENDELECTIONS2018= VOTEFORAMMENDELECTIONS2018['Empenhado'].sum()
print("\nSum of the 'Value' column:", column_sumVOTEFORAMMENDELECTIONS2018)

Sum of the 'Value' column: 1343614631.0

In [851]:
selected_columnsvote = ['ANO_ELEICAO', 'SG_UF_x', 'IBGE7_x', 'NM_URNA_CANDIDATO', 'SG_PARTIDO','Votos', 'CODPARLAMENTAR_x','Empenhado']

In [852]:
VOTEFORAMMENDELECTIONS2018 = VOTEFORAMMENDELECTIONS2018[selected_columnsvote].copy()

In [853]:
VOTEFORAMMENDELECTIONS2014 = VOTEFORAMMENDELECTIONS2014[selected_columnsvote].copy()

In [854]:
VOTEFORAMMENDELECTIONS2018.rename(columns={
    'SG_UF_x': 'SG_UF',
    'IBGE7_x': 'IBGE7',
    'CODPARLAMENTAR_x': 'CODPARLAMENTAR',
   }, inplace=True)

In [855]:
VOTEFORAMMENDELECTIONS2014.rename(columns={
    'SG_UF_x': 'SG_UF',
    'IBGE7_x': 'IBGE7',
    'CODPARLAMENTAR_x': 'CODPARLAMENTAR',
   }, inplace=True)

## VOTE WITH IBGE MAYOR PROFILE
MAYOR PROFILE SOURCE:
https://dadosabertos.tse.jus.br/dataset/candidatos-2016
https://dadosabertos.tse.jus.br/dataset/?tags=Ano+2020

In [818]:
ELECTIONS2016 = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\consulta_cand_2016_BRASIL.csv', engine='python', delimiter=";", index_col=False, encoding='latin1')

In [816]:
ELECTIONS2020 = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\consulta_cand_2020_BRASIL.csv', engine='python', delimiter=";", index_col=False, encoding='latin1')

In [819]:
ELECTIONS2016 = ELECTIONS2016[(ELECTIONS2016['DS_CARGO'] == 'PREFEITO') & (ELECTIONS2016['DS_SIT_TOT_TURNO'] == 'ELEITO')]

In [820]:
ELECTIONS2020 = ELECTIONS2020[(ELECTIONS2020['DS_CARGO'] == 'PREFEITO') & (ELECTIONS2020['DS_SIT_TOT_TURNO'] == 'ELEITO')]

In [822]:
ELECTIONS2016 = remove_special_and_accented_characters(ELECTIONS2016)

In [823]:
ELECTIONS2020 = remove_special_and_accented_characters(ELECTIONS2020)

In [825]:
selected_columns = ['ANO_ELEICAO', 'SG_UF', 'NM_UE','SG_PARTIDO','DS_GENERO','DS_GRAU_INSTRUCAO','VR_DESPESA_MAX_CAMPANHA','ST_REELEICAO']

In [826]:
ELECTIONS2016 = ELECTIONS2016[selected_columns].copy()

In [827]:
ELECTIONS2020 = ELECTIONS2020[selected_columns].copy()

In [828]:
ELECTIONS2020

,ANO_ELEICAO,SG_UF,NM_UE,SG_PARTIDO,DS_GENERO,DS_GRAU_INSTRUCAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO
88,2020,MG,NATALNDIA,AVANTE,MASCULINO,SUPERIOR COMPLETO,123077.42,S
90,2020,PE,CABROB,AVANTE,MASCULINO,SUPERIOR COMPLETO,123077.42,N
149,2020,RJ,SANTO ANTNIO DE PDUA,PTB,MASCULINO,ENSINO MDIO COMPLETO,123077.42,N
181,2020,MG,ARAPOR,PP,FEMININO,SUPERIOR COMPLETO,328581.50,N
196,2020,BA,PRESIDENTE DUTRA,MDB,MASCULINO,ENSINO MDIO COMPLETO,123077.42,N
...,...,...,...,...,...,...,...,...
558265,2020,PE,SANTA CRUZ DA BAIXA VERDE,PP,MASCULINO,SUPERIOR COMPLETO,123077.42,N
558281,2020,CE,UMIRIM,PSD,MASCULINO,SUPERIOR COMPLETO,217558.06,S
558370,2020,PR,SO JOS DAS PALMEIRAS,PSD,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,123077.42,N
558372,2020,PB,AMPARO,DEM,MASCULINO,ENSINO MDIO COMPLETO,123077.42,S
558658,2020,RS,PARECI NOVO,PDT,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,123077.42,S

In [838]:
ELECTIONS2016IBGE = pd.merge(ELECTIONS2016, IBGE, how='left', left_on=['SG_UF', 'NM_UE'], right_on=['SG_UF', 'MUNICIPIO'])

In [840]:
ELECTIONS2020IBGE = pd.merge(ELECTIONS2020, IBGE, how='left', left_on=['SG_UF', 'NM_UE'], right_on=['SG_UF', 'MUNICIPIO'])

In [891]:
ELECTIONS2016IBGE['IBGE7'] = ELECTIONS2016IBGE['IBGE7'].astype(str).str.rstrip('.0')

In [892]:
ELECTIONS2020IBGE['IBGE7'] = ELECTIONS2020IBGE['IBGE7'].astype(str).str.rstrip('.0')

In [893]:
ELECTIONS2016IBGE['VR_DESPESA_MAX_CAMPANHA'] = ELECTIONS2016IBGE['VR_DESPESA_MAX_CAMPANHA'].astype(int)

In [894]:
ELECTIONS2020IBGE['VR_DESPESA_MAX_CAMPANHA'] = ELECTIONS2020IBGE['VR_DESPESA_MAX_CAMPANHA'].astype(int)

In [898]:
columns_to_drop = ['IBGE6', 'CD_MUNICIPIO', 'IBGE4']

In [899]:
ELECTIONS2016IBGE = ELECTIONS2016IBGE.drop(columns=columns_to_drop)

KeyError: "['IBGE6' 'CD_MUNICIPIO' 'IBGE4'] not found in axis"

In [900]:
ELECTIONS2020IBGE = ELECTIONS2020IBGE.drop(columns=columns_to_drop)

KeyError: "['IBGE6' 'CD_MUNICIPIO' 'IBGE4'] not found in axis"

In [901]:
ELECTIONS2020IBGE

,ANO_ELEICAO,SG_UF,NM_UE,SG_PARTIDO,DS_GENERO,DS_GRAU_INSTRUCAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,MUNICIPIO,IBGE7
0,2020,MG,NATALNDIA,AVANTE,MASCULINO,SUPERIOR COMPLETO,123077,S,NATALNDIA,3144375
1,2020,PE,CABROB,AVANTE,MASCULINO,SUPERIOR COMPLETO,123077,N,CABROB,2603009
2,2020,RJ,SANTO ANTNIO DE PDUA,PTB,MASCULINO,ENSINO MDIO COMPLETO,123077,N,SANTO ANTNIO DE PDUA,3304706
3,2020,MG,ARAPOR,PP,FEMININO,SUPERIOR COMPLETO,328581,N,ARAPOR,3103751
4,2020,BA,PRESIDENTE DUTRA,MDB,MASCULINO,ENSINO MDIO COMPLETO,123077,N,PRESIDENTE DUTRA,29256
...,...,...,...,...,...,...,...,...,...,...
5593,2020,PE,SANTA CRUZ DA BAIXA VERDE,PP,MASCULINO,SUPERIOR COMPLETO,123077,N,SANTA CRUZ DA BAIXA VERDE,2612471
5594,2020,CE,UMIRIM,PSD,MASCULINO,SUPERIOR COMPLETO,217558,S,UMIRIM,2313757
5595,2020,PR,SO JOS DAS PALMEIRAS,PSD,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,123077,N,SO JOS DAS PALMEIRAS,4125456
5596,2020,PB,AMPARO,DEM,MASCULINO,ENSINO MDIO COMPLETO,123077,S,AMPARO,2500734
5597,2020,RS,PARECI NOVO,PDT,MASCULINO,ENSINO FUNDAMENTAL COMPLETO,123077,S,PARECI NOVO,4314035

# Joining votes and ammendment info with mayor profile

In [4]:
VOTEFORAMMENDELECTIONS2014.loc[:, 'IBGE7'] = VOTEFORAMMENDELECTIONS2014['IBGE7'].astype(str)

NameError: name 'VOTEFORAMMENDELECTIONS2014' is not defined

In [903]:
ELECTIONS2016IBGE.loc[:, 'IBGE7'] = ELECTIONS2016IBGE['IBGE7'].astype(str)

In [904]:
VOTEFORAMMENDELECTIONS2014MAYOR2016 = pd.merge(
    VOTEFORAMMENDELECTIONS2014,
    ELECTIONS2016IBGE,
    how='left',
    left_on='IBGE7',
    right_on='IBGE7'
)

In [905]:
VOTEFORAMMENDELECTIONS2014MAYOR2016

,ANO_ELEICAO_x,SG_UF_x,IBGE7,NM_URNA_CANDIDATO,SG_PARTIDO_x,Votos,CODPARLAMENTAR,Empenhado,ANO_ELEICAO_y,SG_UF_y,NM_UE,SG_PARTIDO_y,DS_GENERO,DS_GRAU_INSTRUCAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,MUNICIPIO
0,2014,AC,1200138,ALAN RICK,PRB,102,3036,143209370.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI
1,2014,AC,1200138,ANGELIM,PT,255,3048,22212884.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI
2,2014,AC,1200138,CSAR MESSIAS,PSB,362,3072,3681887.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI
3,2014,AC,1200138,FLAVIANO MELO,PMDB,584,2424,19485660.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI
4,2014,AC,1200138,JSSICA SALES,PMDB,25,3640,18982389.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200093,2014,TO,1703107,IRAJ ABREU,PSD,40,2691,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA
200094,2014,TO,1703107,JOSI NUNES,PMDB,25,3695,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA
200095,2014,TO,1703107,LZARO BOTELHO,PP,5,2429,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA
200096,2014,TO,1703107,PROFESSORA DORINHA,DEM,355,2693,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA
200097,2014,TO,1703107,VICENTINHO JUNIOR,PSB,140,3775,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA

In [906]:
VOTEFORAMMENDELECTIONS2014MAYOR2016['Sameparty2016'] = (VOTEFORAMMENDELECTIONS2014MAYOR2016['SG_PARTIDO_x'] == VOTEFORAMMENDELECTIONS2014MAYOR2016['SG_PARTIDO_y']).astype(int)

In [907]:
VOTEFORAMMENDELECTIONS2014MAYOR2016

,ANO_ELEICAO_x,SG_UF_x,IBGE7,NM_URNA_CANDIDATO,SG_PARTIDO_x,Votos,CODPARLAMENTAR,Empenhado,ANO_ELEICAO_y,SG_UF_y,NM_UE,SG_PARTIDO_y,DS_GENERO,DS_GRAU_INSTRUCAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,MUNICIPIO,Sameparty2016
0,2014,AC,1200138,ALAN RICK,PRB,102,3036,143209370.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI,0
1,2014,AC,1200138,ANGELIM,PT,255,3048,22212884.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI,0
2,2014,AC,1200138,CSAR MESSIAS,PSB,362,3072,3681887.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI,0
3,2014,AC,1200138,FLAVIANO MELO,PMDB,584,2424,19485660.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI,0
4,2014,AC,1200138,JSSICA SALES,PMDB,25,3640,18982389.0,2016.0,AC,BUJARI,PC do B,MASCULINO,ENSINO MDIO COMPLETO,108039.0,N,BUJARI,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200093,2014,TO,1703107,IRAJ ABREU,PSD,40,2691,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA,0
200094,2014,TO,1703107,JOSI NUNES,PMDB,25,3695,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA,1
200095,2014,TO,1703107,LZARO BOTELHO,PP,5,2429,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA,0
200096,2014,TO,1703107,PROFESSORA DORINHA,DEM,355,2693,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA,0
200097,2014,TO,1703107,VICENTINHO JUNIOR,PSB,140,3775,NaN,2016.0,TO,BARROLNDIA,PMDB,MASCULINO,SUPERIOR COMPLETO,143042.0,N,BARROLNDIA,0

In [908]:
VOTEFORAMMENDELECTIONS2018.loc[:, 'IBGE7'] = VOTEFORAMMENDELECTIONS2018['IBGE7'].astype(str)

In [909]:
ELECTIONS2020IBGE.loc[:, 'IBGE7'] = ELECTIONS2020IBGE['IBGE7'].astype(str)

In [910]:
VOTEFORAMMENDELECTIONS2018MAYOR2020 = pd.merge(
    VOTEFORAMMENDELECTIONS2018,
    ELECTIONS2020IBGE,
    how='left',
    left_on='IBGE7',
    right_on='IBGE7'
)

In [912]:
VOTEFORAMMENDELECTIONS2018MAYOR2020['Sameparty2020'] = (VOTEFORAMMENDELECTIONS2018MAYOR2020['SG_PARTIDO_x'] == VOTEFORAMMENDELECTIONS2018MAYOR2020['SG_PARTIDO_y']).astype(int)

In [913]:
VOTEFORAMMENDELECTIONS2018MAYOR2020

,ANO_ELEICAO_x,SG_UF_x,IBGE7,NM_URNA_CANDIDATO,SG_PARTIDO_x,Votos,CODPARLAMENTAR,Empenhado,ANO_ELEICAO_y,SG_UF_y,NM_UE,SG_PARTIDO_y,DS_GENERO,DS_GRAU_INSTRUCAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,MUNICIPIO,Sameparty2020
0,2018,AC,1200138,ALAN RICK,DEM,310,3036,NaN,2020.0,AC,BUJARI,PDT,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,123077.0,N,BUJARI,0
1,2018,AC,1200138,DRA VANDA MILANI,SOLIDARIEDADE,370,3967,250000.0,2020.0,AC,BUJARI,PDT,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,123077.0,N,BUJARI,0
2,2018,AC,1200138,JSSICA SALES,MDB,33,3640,NaN,2020.0,AC,BUJARI,PDT,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,123077.0,N,BUJARI,0
3,2018,AC,1200138,MARA ROCHA,PSDB,763,4038,NaN,2020.0,AC,BUJARI,PDT,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,123077.0,N,BUJARI,0
4,2018,AC,1200138,PERPETUA ALMEIDA,PC do B,574,NaN,NaN,2020.0,AC,BUJARI,PDT,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,123077.0,N,BUJARI,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151227,2018,TO,1703107,CARLOS HENRIQUE GAGUIM,DEM,1300,3068,NaN,2020.0,TO,BARROLNDIA,DEM,MASCULINO,SUPERIOR COMPLETO,162953.0,N,BARROLNDIA,1
151228,2018,TO,1703107,ELI BORGES,SOLIDARIEDADE,102,3973,NaN,2020.0,TO,BARROLNDIA,DEM,MASCULINO,SUPERIOR COMPLETO,162953.0,N,BARROLNDIA,0
151229,2018,TO,1703107,OSIRES DAMASO,PSC,895,4122,NaN,2020.0,TO,BARROLNDIA,DEM,MASCULINO,SUPERIOR COMPLETO,162953.0,N,BARROLNDIA,0
151230,2018,TO,1703107,TIAGO DIMAS,SOLIDARIEDADE,13,4071,NaN,2020.0,TO,BARROLNDIA,DEM,MASCULINO,SUPERIOR COMPLETO,162953.0,N,BARROLNDIA,0
151231,2018,TO,1703107,VICENTINHO JUNIOR,PR,20,3775,NaN,2020.0,TO,BARROLNDIA,DEM,MASCULINO,SUPERIOR COMPLETO,162953.0,N,BARROLNDIA,0

In [915]:
VOTEFORAMMENDELECTIONS2014MAYOR2016.to_csv("VOTEFORAMMENDELECTIONS2014MAYOR2016FINAL.csv",  encoding='utf-8', index=False)

In [914]:
VOTEFORAMMENDELECTIONS2018MAYOR2020.to_csv("VOTEFORAMMENDELECTIONS2018MAYOR2020FINAL.csv",  encoding='utf-8', index=False)

In [924]:
VOTEFORAMMENDELECTIONS2014MAYOR2016GROUP = VOTEFORAMMENDELECTIONS2014MAYOR2016.groupby(['IBGE7','DS_GRAU_INSTRUCAO','DS_GENERO','VR_DESPESA_MAX_CAMPANHA','ST_REELEICAO'])[['Sameparty2016', 'Votos']].agg('sum').reset_index()

In [926]:
VOTEFORAMMENDELECTIONS2018MAYOR2020GROUP = VOTEFORAMMENDELECTIONS2018MAYOR2020.groupby(['IBGE7', 'DS_GRAU_INSTRUCAO','DS_GENERO','VR_DESPESA_MAX_CAMPANHA','ST_REELEICAO'])[['Sameparty2020','Votos']].agg('sum').reset_index()

# Merging elections and mayor profile with the municipalities dataframe

In [929]:
MUNICIPALITIESFORANALYSISalmostfinal = pd.merge(MUNICIPALITIESFORANALYSIS, VOTEFORAMMENDELECTIONS2014MAYOR2016GROUP, how='left', on=['IBGE7'])

In [934]:
MUNICIPALITIESFORANALYSISELECTIONS = pd.merge(MUNICIPALITIESFORANALYSISalmostfinal, VOTEFORAMMENDELECTIONS2018MAYOR2020GROUP, how='left', on=['IBGE7'])

In [935]:
MUNICIPALITIESFORANALYSISELECTIONS

,index,IBGE7,IBGE4,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,RHDiretaEstag2012,RHDiretaSemVinc2012,...,VR_DESPESA_MAX_CAMPANHA_x,ST_REELEICAO_x,Sameparty2016,Votos_x,DS_GRAU_INSTRUCAO_y,DS_GENERO_y,VR_DESPESA_MAX_CAMPANHA_y,ST_REELEICAO_y,Sameparty2020,Votos_y
0,0,1100015,15,110001,994.0,792.0,122.0,80.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,122.0,42.0,...,869553.0,N,3.0,6878.0,SUPERIOR COMPLETO,FEMININO,990589.0,N,0.0,2752.0
2,2,1100031,31,110003,320.0,245.0,26.0,48.0,1.0,0.0,...,108039.0,N,3.0,1206.0,SUPERIOR COMPLETO,MASCULINO,123077.0,N,1.0,623.0
3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,0.0,0.0,...,378773.0,N,3.0,23935.0,SUPERIOR COMPLETO,MASCULINO,431496.0,N,1.0,6383.0
4,4,1100056,56,110005,580.0,492.0,18.0,68.0,0.0,2.0,...,186569.0,S,0.0,2915.0,SUPERIOR COMPLETO,FEMININO,212539.0,S,0.0,1418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,0.0,41.0,...,140205.0,S,1.0,5129.0,SUPERIOR COMPLETO,MASCULINO,159721.0,N,1.0,2385.0
5710,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,7.0,35.0,...,108039.0,N,6.0,3888.0,ENSINO MDIO COMPLETO,MASCULINO,123077.0,S,0.0,1448.0
5711,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,0.0,15.0,...,108039.0,N,0.0,2028.0,ENSINO MDIO COMPLETO,MASCULINO,123077.0,N,2.0,1030.0
5712,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,0.0,0.0,...,108039.0,N,1.0,2146.0,SUPERIOR COMPLETO,MASCULINO,123077.0,N,2.0,2214.0
5713,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,1042.0,7220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [936]:
MUNICIPALITIESFORANALYSISELECTIONS.to_csv("MUNICIPALITIESFORANALYSISELECTIONS.csv",  encoding='utf-8', index=False)

# Merging Municipalities with voters turn-out

In [10]:
Turnout2012 = pd.read_csv( r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\evolucao_comp_abst-municipio_2012_1.csv', engine='python', delimiter=";", index_col=False, encoding='latin1')

In [11]:
Turnout2016 = pd.read_csv( r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\evolucao_comp_abst-municipio_2016_1.csv', engine='python', delimiter=";", index_col=False, encoding='latin1')

In [12]:
Turnout2020 = pd.read_csv( r'G:\Meu Drive\Doutorado\Disciplinas\Paper_december\evolucao_comp_abst-municipio_2020_1.csv', engine='python', delimiter=";", index_col=False, encoding='latin1')

In [13]:
Turnout2012['sg_uf'] = Turnout2012['sg_uf'].astype(str)

In [14]:
Turnout2012['nm_municipio'] = Turnout2012['nm_municipio'].astype(str)

In [15]:
Turnout2016['sg_uf'] = Turnout2016['sg_uf'].astype(str)

In [16]:
Turnout2016['nm_municipio'] = Turnout2016['nm_municipio'].astype(str)

In [17]:
Turnout2020['sg_uf'] = Turnout2020['sg_uf'].astype(str)

In [18]:
Turnout2020['nm_municipio'] = Turnout2020['nm_municipio'].astype(str)

In [19]:
Turnout2012 = remove_special_and_accented_characters(Turnout2012)

In [20]:
Turnout2016 = remove_special_and_accented_characters(Turnout2016)

In [21]:
Turnout2020 = remove_special_and_accented_characters(Turnout2020)

In [22]:
Turnout2012 = pd.merge(Turnout2012, IBGE, how='left', left_on=['sg_uf', 'nm_municipio'], right_on=['SG_UF', 'MUNICIPIO'])

In [23]:
Turnout2016 = pd.merge(Turnout2016, IBGE, how='left', left_on=['sg_uf', 'nm_municipio'], right_on=['SG_UF', 'MUNICIPIO'])

In [24]:
Turnout2020 = pd.merge(Turnout2020, IBGE, how='left', left_on=['sg_uf', 'nm_municipio'], right_on=['SG_UF', 'MUNICIPIO'])

In [25]:
Turnout2020

,sg_uf,nm_municipio,aa_eleicao,qt_eleitor_apto,qt_eleitor_comp,qt_eleitor_abstencao,SG_UF,MUNICIPIO,IBGE7,IBGE6,CD_MUNICIPIO,IBGE4
0,AC,ACRELANDIA,2020,9169,7093,2076,AC,ACRELANDIA,1200013.0,120001.0,13,1.0
1,AC,ASSIS BRASIL,2020,5913,4918,995,AC,ASSIS BRASIL,1200054.0,120005.0,54,5.0
2,AC,BRASILEIA,2020,16844,13522,3322,AC,BRASILEIA,1200104.0,120010.0,104,10.0
3,AC,BUJARI,2020,9613,7387,2226,AC,BUJARI,1200138.0,120013.0,138,13.0
4,AC,CAPIXABA,2020,7540,6108,1432,AC,CAPIXABA,1200179.0,120017.0,179,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5563,TO,TOCANTINIA,2020,4606,4158,448,TO,TOCANTINIA,1721109.0,172110.0,21109,2110.0
5564,TO,TUPIRAMA,2020,1929,1714,215,TO,TUPIRAMA,1721257.0,172125.0,21257,2125.0
5565,TO,TUPIRATINS,2020,1838,1639,199,TO,TUPIRATINS,1721307.0,172130.0,21307,2130.0
5566,TO,WANDERLANDIA,2020,6573,5535,1038,TO,WANDERLANDIA,1722081.0,172208.0,22081,2208.0
5567,TO,XAMBIOA,2020,8108,6814,1294,TO,XAMBIOA,1722107.0,172210.0,22107,2210.0

In [26]:
Turnout2012 = Turnout2012.drop(columns=['sg_uf', 'nm_municipio', 'SG_UF','MUNICIPIO','CD_MUNICIPIO','IBGE6','IBGE4'])

In [27]:
Turnout2016 = Turnout2016.drop(columns=['sg_uf', 'nm_municipio', 'SG_UF','MUNICIPIO','CD_MUNICIPIO','IBGE6','IBGE4'])

In [28]:
Turnout2020 = Turnout2020.drop(columns=['sg_uf', 'nm_municipio', 'SG_UF','MUNICIPIO','CD_MUNICIPIO','IBGE6','IBGE4'])

In [29]:
Turnout2012.rename(columns={'qt_eleitor_apto': 'qt_eleitor_apto2012', 'qt_eleitor_comp': 'qt_eleitor_comp2012', 'qt_eleitor_abstencao': 'qt_eleitor_abstencao2012'}, inplace=True)

In [30]:
Turnout2016.rename(columns={'qt_eleitor_apto': 'qt_eleitor_apto2016', 'qt_eleitor_comp': 'qt_eleitor_comp2016', 'qt_eleitor_abstencao': 'qt_eleitor_abstencao2016'}, inplace=True)

In [31]:
Turnout2020.rename(columns={'qt_eleitor_apto': 'qt_eleitor_apto2020', 'qt_eleitor_comp': 'qt_eleitor_comp2020', 'qt_eleitor_abstencao': 'qt_eleitor_abstencao2020'}, inplace=True)

In [32]:
Turnout2012['IBGE7'] = Turnout2012['IBGE7'].astype(str).str.rstrip('.0')

In [33]:
Turnout2016['IBGE7'] = Turnout2016['IBGE7'].astype(str).str.rstrip('.0')

In [34]:
Turnout2020['IBGE7'] = Turnout2020['IBGE7'].astype(str).str.rstrip('.0')

In [35]:
Turnout2012 = Turnout2012.reset_index()

In [36]:
Turnout2016 = Turnout2016.reset_index()

In [37]:
Turnout2020 = Turnout2020.reset_index()

In [38]:
MUNICIPALITIESFORANALYSISELECTIONS = pd.read_csv( r'C:\Users\lunav\Downloads\MUNICIPALITIESFORANALYSISELECTIONS.csv', engine='python', delimiter=",", index_col=False, encoding='latin1')

In [47]:
MUNICIPALITIESFORANALYSISELECTIONS = MUNICIPALITIESFORANALYSISELECTIONS.reset_index()

ValueError: cannot insert level_0, already exists

In [ ]:
MUNICIPALITIESFORANALYSISELECTIONS['IBGE7'] = MUNICIPALITIESFORANALYSISELECTIONS['IBGE7'].astype(str)

In [48]:
MUNICIPALITIESFORANALYSISFINAL = pd.merge(MUNICIPALITIESFORANALYSISELECTIONS, Turnout2012, how='left', left_on=['IBGE7'], right_on=['IBGE7'])

In [49]:
MUNICIPALITIESFORANALYSISFINAL1 = pd.merge(MUNICIPALITIESFORANALYSISFINAL, Turnout2016, how='left', left_on=['IBGE7'], right_on=['IBGE7'])

In [50]:
MUNICIPALITIESFORANALYSISFINAL2 = pd.merge(MUNICIPALITIESFORANALYSISFINAL1, Turnout2020, how='left', left_on=['IBGE7'], right_on=['IBGE7'])

C:\Users\lunav\AppData\Local\Temp/ipykernel_3016/3891790612.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'index_x'} in the result is deprecated and will raise a MergeError in a future version.
  MUNICIPALITIESFORANALYSISFINAL2 = pd.merge(MUNICIPALITIESFORANALYSISFINAL1, Turnout2020, how='left', left_on=['IBGE7'], right_on=['IBGE7'])

In [62]:
IBGE['IBGE7'] = IBGE['IBGE7'].astype(str)

In [63]:
MUNICIPALITIESFORANALYSISFINAL3 = pd.merge(MUNICIPALITIESFORANALYSISFINAL2, IBGE, how='left', left_on=['IBGE7'], right_on=['IBGE7'])

In [76]:
MUNICIPALITIESFORANALYSISFINAL3

,level_0,index_x,IBGE7,IBGE4_x,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,RHDiretaEstag2012,...,CD_MUNICIPIO,IBGE4_y,AmazoniaLegal2015,Semiarido2015,Centrolocal,CentroSubregional,CapitalRegional,CentroZona,Intermediario,Nucleo
0,0,0,1100015,15,110001,994.0,792.0,122.0,80.0,0.0,...,15,1,1,-1,1,-1,-1,-1,-1,-1
1,1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,122.0,...,23,2,1,-1,-1,1,-1,-1,1,-1
2,2,2,1100031,31,110003,320.0,245.0,26.0,48.0,1.0,...,31,3,1,-1,1,-1,-1,-1,-1,-1
3,3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,0.0,...,49,4,1,-1,-1,1,-1,-1,1,-1
4,4,4,1100056,56,110005,580.0,492.0,18.0,68.0,0.0,...,56,5,1,-1,-1,-1,-1,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,5709,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,0.0,...,22005,2200,-1,-1,1,-1,-1,-1,-1,-1
5710,5710,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,7.0,...,22054,2205,-1,-1,1,-1,-1,-1,-1,-1
5711,5711,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,0.0,...,22203,2220,-1,-1,1,-1,-1,-1,-1,-1
5712,5712,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,0.0,...,22302,2230,-1,-1,1,-1,-1,-1,-1,-1
5713,5713,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,1042.0,...,108,10,-1,-1,-1,-1,-1,-1,-1,1

# Merging with health indicators

In [116]:
CHILDMORTALITY = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Dados\SUS\Child_Death_2015_2020.csv', engine='python', delimiter=";", index_col=False, encoding='latin1')

In [117]:
CHILDMORTALITY['IBGE7'] = CHILDMORTALITY['IBGE7'].astype(str)

In [118]:
MUNICIPALITIESFORANALYSISFINAL4 = pd.merge(MUNICIPALITIESFORANALYSISFINAL3, CHILDMORTALITY, how='left', left_on=['IBGE7'], right_on=['IBGE7'])

In [129]:
MUNICIPALITIESFORANALYSISFINAL4.to_csv("MUNICIPALITIESFORANALYSISFINAL4.csv",  encoding='utf-8', index=False)

# standardazing variables

In [119]:
MUNICIPALITIESFORANALYSISSTD = MUNICIPALITIESFORANALYSISFINAL4.copy()

In [120]:
numeric_columns = ['RHTotalDireta2012', 'RHDiretaEstat2012', 'RHDiretaCel2012', 'RHDirCom2012', 'RHDiretaEstag2012', 'RHDiretaSemVinc2012', 'RHIndiretaExiste2012', 'RHTotalINDireta2012', 'RHINDiretaEstat2012', 'RHINDiretaCel2012', 'RHINDirCom2012', 'RHINDiretaEstag2012', 'RHINDiretaSemVinc2012', 'RHTotalDireta2013', 'RHDiretaEstat2013', 'RHDiretaCel2013', 'RHDirCom2013', 'RHDiretaEstag2013', 'RHDiretaSemVinc2013', 'RHIndiretaExiste2013', 'RHTotalINDireta2013', 'RHINDiretaEstat2013', 'RHINDiretaCel2013', 'RHINDirCom2013', 'RHINDiretaEstag2013', 'RHINDiretaSemVinc2013', 'RHTotalDireta2014', 'RHDiretaEstat2014', 'RHDiretaCel2014', 'RHDirCom2014', 'RHDiretaEstag2014', 'RHDiretaSemVinc2014', 'RHIndiretaExiste2014', 'RHTotalINDireta2014', 'RHINDiretaEstat2014', 'RHINDiretaCel2014', 'RHINDirCom2014', 'RHINDiretaEstag2014', 'RHINDiretaSemVinc2014', 'RHTotalDireta2015', 'RHDiretaEstat2015', 'RHDiretaCel2015', 'RHDirCom2015', 'RHDiretaEstag2015', 'RHDiretaSemVinc2015', 'RHIndiretaExiste2015', 'RHTotalINDireta2015', 'RHINDiretaEstat2015', 'RHINDiretaCel2015', 'RHINDirCom2015', 'RHINDiretaEstag2015', 'RHINDiretaSemVinc2015', 'RHTotalDireta2016', 'RHDiretaEstat2016', 'RHDiretaCel2016', 'RHDirCom2016', 'RHDiretaEstag2016', 'RHDiretaSemVinc2016', 'RHIndiretaExiste2016', 'RHTotalINDireta2016', 'RHINDiretaEstat2016', 'RHINDiretaCel2016', 'RHINDirCom2016', 'RHINDiretaEstag2016', 'RHINDiretaSemVinc2016', 'RHTotalDireta2017', 'RHDiretaEstat2017', 'RHDiretaCel2017', 'RHDirCom2017', 'RHDiretaEstag2017', 'RHDiretaSemVinc2017', 'RHIndiretaExiste2017', 'RHTotalINDireta2017', 'RHINDiretaEstat2017', 'RHINDiretaCel2017', 'RHINDirCom2017', 'RHINDiretaEstag2017', 'RHINDiretaSemVinc2017', 'RHTotalDireta2018', 'RHDiretaEstat2018', 'RHDiretaCel2018', 'RHDirCom2018', 'RHDiretaEstag2018', 'RHDiretaSemVinc2018', 'RHIndiretaExiste2018', 'RHTotalINDireta2018', 'RHINDiretaEstat2018', 'RHINDiretaCel2018', 'RHINDirCom2018', 'RHINDiretaEstag2018', 'RHINDiretaSemVinc2018', 'RHTotalDireta2019', 'RHDiretaEstat2019', 'RHDiretaCel2019', 'RHDirCom2019', 'RHDiretaEstag2019', 'RHDiretaSemVinc2019', 'RHIndiretaExiste2019', 'RHTotalINDireta2019', 'RHINDiretaEstat2019', 'RHINDiretaCel2019', 'RHINDirCom2019', 'RHINDiretaEstag2019', 'RHINDiretaSemVinc2019', 'pop2012', 'pop2013', 'pop2014', 'pop2015', 'pop2016', 'pop2017', 'pop2018', 'pop2019', 'OSC2012', 'OSC2013', 'OSC2014', 'OSC2015', 'OSC2016', 'OSC2017', 'OSC2018', 'OSC2019', 'OSC2020', 'OSCTotalQtd', 'OSCTOTAL2012', 'OSCTOTAL2013', 'OSCTOTAL2014', 'OSCTOTAL2015', 'OSCTOTAL2016', 'OSCTOTAL2017', 'OSCTOTAL2018', 'OSCTOTAL2019', 'OSCTOTAL2020', 'VLAgricultura2012', 'VLIndustria2012', 'VLServicos2012', 'VLADMPub2012', 'VLTotal2012', 'Impostos2012', 'Pib2012', 'Pibpercapita2012', 'MaiorVLAd2012', 'SegundoMaiorVLAd2012', 'TerceiroMaiorVLAd2012', 'VLAgricultura2013', 'VLIndustria2013', 'VLServicos2013', 'VLADMPub2013', 'VLTotal2013', 'Impostos2013', 'Pib2013', 'Pibpercapita2013', 'MaiorVLAd2013', 'SegundoMaiorVLAd2013', 'TerceiroMaiorVLAd2013', 'VLAgricultura2014', 'VLIndustria2014', 'VLServicos2014', 'VLADMPub2014', 'VLTotal2014', 'Impostos2014', 'Pib2014', 'Pibpercapita2014', 'MaiorVLAd2014', 'SegundoMaiorVLAd2014', 'TerceiroMaiorVLAd2014', 'VLAgricultura2015', 'VLIndustria2015', 'VLServicos2015', 'VLADMPub2015', 'VLTotal2015', 'Impostos2015', 'Pib2015', 'Pibpercapita2015', 'MaiorVLAd2015', 'SegundoMaiorVLAd2015', 'TerceiroMaiorVLAd2015', 'VLAgricultura2016', 'VLIndustria2016', 'VLServicos2016', 'VLADMPub2016', 'VLTotal2016', 'Impostos2016', 'Pib2016', 'Pibpercapita2016', 'MaiorVLAd2016', 'SegundoMaiorVLAd2016', 'TerceiroMaiorVLAd2016', 'VLAgricultura2017', 'VLIndustria2017', 'VLServicos2017', 'VLADMPub2017', 'VLTotal2017', 'Impostos2017', 'Pib2017', 'Pibpercapita2017', 'MaiorVLAd2017', 'SegundoMaiorVLAd2017', 'TerceiroMaiorVLAd2017', 'VLAgricultura2018', 'VLIndustria2018', 'VLServicos2018', 'VLADMPub2018', 'VLTotal2018', 'Impostos2018', 'Pib2018', 'Pibpercapita2018', 'MaiorVLAd2018', 'SegundoMaiorVLAd2018', 'TerceiroMaiorVLAd2018', 'VLAgricultura2019', 'VLIndustria2019', 'VLServicos2019', 'VLADMPub2019', 'VLTotal2019', 'Impostos2019', 'Pib2019', 'Pibpercapita2019', 'MaiorVLAd2019', 'SegundoMaiorVLAd2019', 'TerceiroMaiorVLAd2019', 'Rec2013', 'Rec2014', 'Rec2015', 'Rec2016', 'Rec2017', 'Rec2018', 'Rec2019', 'Rec2020', 'RecTotal', 'Recorrente', 'IDEB2005', 'IDEB2006', 'IDEB2007', 'IDEB2009', 'IDEB2010', 'IDEB2011', 'IDEB2012', 'IDEB2013', 'IDEB2014', 'IDEB2015', 'IDEB2017', 'IDEB2018', 'IDEB2019', 'HOM2000', 'HOM2001', 'HOM2002', 'HOM2003', 'HOM2004', 'HOM2005', 'HOM2006', 'HOM2007', 'HOM2008', 'HOM2009', 'HOM2010', 'HOM2011', 'HOM2012', 'HOM2013', 'HOM2014', 'HOM2015', 'HOM2016', 'HOM2017', 'HOM2018', 'HOM2019', 'QtdCGU', 'QTD_Prefeito_TCU', 'Nat_Jur_2010', 'AG001_pop_agua_2010', 'Nat_Jur_2011', 'AG001_pop_agua_2011', 'Nat_Jur_2012', 'AG001_pop_agua_2012', 'Nat_Jur_2013', 'AG001_pop_agua_2013', 'Nat_Jur_2014', 'AG001_pop_agua_2014', 'Nat_Jur_2015', 'AG001_pop_agua_2015', 'Nat_Jur_2016', 'AG001_pop_agua_2016', 'Nat_Jur_2017', 'AG001_pop_agua_2017', 'Nat_Jur_2018', 'AG001_pop_agua_2018', 'Nat_Jur_2019', 'AG001_pop_agua_2019', 'Nat_Jur_2020', 'AG001_pop_agua_2020', 'Total_empresas', 'planosau2022', 'planosau2021', 'planosau2020', 'planosau2019', 'planosau2018', 'planosau2016', 'planosau2015', 'rectotal2015', 'rectotal2016', 'rectotal2017', 'rectotal2018', 'rectotal2019', 'recprop2015', 'recprop2016', 'recprop2017', 'recprop2018', 'recprop2019', 'CadUnico2015', 'CadUnico2016', 'CadUnico2017', 'CadUnico2018', 'CadUnico2019', 'CadUnico2020', 'cluster',  'Empenhado','AmmendEmpenho2015', 'AmmendEmpenho2016', 'AmmendEmpenho2017', 'AmmendEmpenho2018', 'AmmendEmpenho2019', 'AmmendEmpenho2020', 'AmmendEmpenho2021', 'AmmendEmpenho2022', 'STN2015', 'STN2016', 'STN2017', 'STN2018', 'STN2019', 'STN2020', 'STN2021', 'STN2022','Votos_x','Votos_y']

In [121]:
MUNICIPALITIESFORANALYSISSTD[numeric_columns] = MUNICIPALITIESFORANALYSISSTD[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [122]:
columns_to_standardize = ['RHTotalDireta2012', 'RHDiretaEstat2012', 'RHDiretaCel2012', 'RHDirCom2012', 'RHDiretaEstag2012', 'RHDiretaSemVinc2012', 'RHIndiretaExiste2012', 'RHTotalINDireta2012', 'RHINDiretaEstat2012', 'RHINDiretaCel2012', 'RHINDirCom2012', 'RHINDiretaEstag2012', 'RHINDiretaSemVinc2012', 'RHTotalDireta2013', 'RHDiretaEstat2013', 'RHDiretaCel2013', 'RHDirCom2013', 'RHDiretaEstag2013', 'RHDiretaSemVinc2013', 'RHIndiretaExiste2013', 'RHTotalINDireta2013', 'RHINDiretaEstat2013', 'RHINDiretaCel2013', 'RHINDirCom2013', 'RHINDiretaEstag2013', 'RHINDiretaSemVinc2013', 'RHTotalDireta2014', 'RHDiretaEstat2014', 'RHDiretaCel2014', 'RHDirCom2014', 'RHDiretaEstag2014', 'RHDiretaSemVinc2014', 'RHIndiretaExiste2014', 'RHTotalINDireta2014', 'RHINDiretaEstat2014', 'RHINDiretaCel2014', 'RHINDirCom2014', 'RHINDiretaEstag2014', 'RHINDiretaSemVinc2014', 'RHTotalDireta2015', 'RHDiretaEstat2015', 'RHDiretaCel2015', 'RHDirCom2015', 'RHDiretaEstag2015', 'RHDiretaSemVinc2015', 'RHIndiretaExiste2015', 'RHTotalINDireta2015', 'RHINDiretaEstat2015', 'RHINDiretaCel2015', 'RHINDirCom2015', 'RHINDiretaEstag2015', 'RHINDiretaSemVinc2015', 'RHTotalDireta2016', 'RHDiretaEstat2016', 'RHDiretaCel2016', 'RHDirCom2016', 'RHDiretaEstag2016', 'RHDiretaSemVinc2016', 'RHIndiretaExiste2016', 'RHTotalINDireta2016', 'RHINDiretaEstat2016', 'RHINDiretaCel2016', 'RHINDirCom2016', 'RHINDiretaEstag2016', 'RHINDiretaSemVinc2016', 'RHTotalDireta2017', 'RHDiretaEstat2017', 'RHDiretaCel2017', 'RHDirCom2017', 'RHDiretaEstag2017', 'RHDiretaSemVinc2017', 'RHIndiretaExiste2017', 'RHTotalINDireta2017', 'RHINDiretaEstat2017', 'RHINDiretaCel2017', 'RHINDirCom2017', 'RHINDiretaEstag2017', 'RHINDiretaSemVinc2017', 'RHTotalDireta2018', 'RHDiretaEstat2018', 'RHDiretaCel2018', 'RHDirCom2018', 'RHDiretaEstag2018', 'RHDiretaSemVinc2018', 'RHIndiretaExiste2018', 'RHTotalINDireta2018', 'RHINDiretaEstat2018', 'RHINDiretaCel2018', 'RHINDirCom2018', 'RHINDiretaEstag2018', 'RHINDiretaSemVinc2018', 'RHTotalDireta2019', 'RHDiretaEstat2019', 'RHDiretaCel2019', 'RHDirCom2019', 'RHDiretaEstag2019', 'RHDiretaSemVinc2019', 'RHIndiretaExiste2019', 'RHTotalINDireta2019', 'RHINDiretaEstat2019', 'RHINDiretaCel2019', 'RHINDirCom2019', 'RHINDiretaEstag2019', 'RHINDiretaSemVinc2019', 'pop2012', 'pop2013', 'pop2014', 'pop2015', 'pop2016', 'pop2017', 'pop2018', 'pop2019', 'OSC2012', 'OSC2013', 'OSC2014', 'OSC2015', 'OSC2016', 'OSC2017', 'OSC2018', 'OSC2019', 'OSC2020', 'OSCTotalQtd', 'OSCTOTAL2012', 'OSCTOTAL2013', 'OSCTOTAL2014', 'OSCTOTAL2015', 'OSCTOTAL2016', 'OSCTOTAL2017', 'OSCTOTAL2018', 'OSCTOTAL2019', 'OSCTOTAL2020', 'VLAgricultura2012', 'VLIndustria2012', 'VLServicos2012', 'VLADMPub2012', 'VLTotal2012', 'Impostos2012', 'Pib2012', 'Pibpercapita2012', 'MaiorVLAd2012', 'SegundoMaiorVLAd2012', 'TerceiroMaiorVLAd2012', 'VLAgricultura2013', 'VLIndustria2013', 'VLServicos2013', 'VLADMPub2013', 'VLTotal2013', 'Impostos2013', 'Pib2013', 'Pibpercapita2013', 'MaiorVLAd2013', 'SegundoMaiorVLAd2013', 'TerceiroMaiorVLAd2013', 'VLAgricultura2014', 'VLIndustria2014', 'VLServicos2014', 'VLADMPub2014', 'VLTotal2014', 'Impostos2014', 'Pib2014', 'Pibpercapita2014', 'MaiorVLAd2014', 'SegundoMaiorVLAd2014', 'TerceiroMaiorVLAd2014', 'VLAgricultura2015', 'VLIndustria2015', 'VLServicos2015', 'VLADMPub2015', 'VLTotal2015', 'Impostos2015', 'Pib2015', 'Pibpercapita2015', 'MaiorVLAd2015', 'SegundoMaiorVLAd2015', 'TerceiroMaiorVLAd2015', 'VLAgricultura2016', 'VLIndustria2016', 'VLServicos2016', 'VLADMPub2016', 'VLTotal2016', 'Impostos2016', 'Pib2016', 'Pibpercapita2016', 'MaiorVLAd2016', 'SegundoMaiorVLAd2016', 'TerceiroMaiorVLAd2016', 'VLAgricultura2017', 'VLIndustria2017', 'VLServicos2017', 'VLADMPub2017', 'VLTotal2017', 'Impostos2017', 'Pib2017', 'Pibpercapita2017', 'MaiorVLAd2017', 'SegundoMaiorVLAd2017', 'TerceiroMaiorVLAd2017', 'VLAgricultura2018', 'VLIndustria2018', 'VLServicos2018', 'VLADMPub2018', 'VLTotal2018', 'Impostos2018', 'Pib2018', 'Pibpercapita2018', 'MaiorVLAd2018', 'SegundoMaiorVLAd2018', 'TerceiroMaiorVLAd2018', 'VLAgricultura2019', 'VLIndustria2019', 'VLServicos2019', 'VLADMPub2019', 'VLTotal2019', 'Impostos2019', 'Pib2019', 'Pibpercapita2019', 'MaiorVLAd2019', 'SegundoMaiorVLAd2019', 'TerceiroMaiorVLAd2019', 'Rec2013', 'Rec2014', 'Rec2015', 'Rec2016', 'Rec2017', 'Rec2018', 'Rec2019', 'Rec2020', 'RecTotal', 'Recorrente', 'IDEB2005', 'IDEB2006', 'IDEB2007', 'IDEB2009', 'IDEB2010', 'IDEB2011', 'IDEB2012', 'IDEB2013', 'IDEB2014', 'IDEB2015', 'IDEB2017', 'IDEB2018', 'IDEB2019', 'HOM2000', 'HOM2001', 'HOM2002', 'HOM2003', 'HOM2004', 'HOM2005', 'HOM2006', 'HOM2007', 'HOM2008', 'HOM2009', 'HOM2010', 'HOM2011', 'HOM2012', 'HOM2013', 'HOM2014', 'HOM2015', 'HOM2016', 'HOM2017', 'HOM2018', 'HOM2019', 'QtdCGU', 'QTD_Prefeito_TCU', 'Nat_Jur_2010', 'AG001_pop_agua_2010', 'Nat_Jur_2011', 'AG001_pop_agua_2011', 'Nat_Jur_2012', 'AG001_pop_agua_2012', 'Nat_Jur_2013', 'AG001_pop_agua_2013', 'Nat_Jur_2014', 'AG001_pop_agua_2014', 'Nat_Jur_2015', 'AG001_pop_agua_2015', 'Nat_Jur_2016', 'AG001_pop_agua_2016', 'Nat_Jur_2017', 'AG001_pop_agua_2017', 'Nat_Jur_2018', 'AG001_pop_agua_2018', 'Nat_Jur_2019', 'AG001_pop_agua_2019', 'Nat_Jur_2020', 'AG001_pop_agua_2020', 'Total_empresas', 'planosau2022', 'planosau2021', 'planosau2020', 'planosau2019', 'planosau2018', 'planosau2016', 'planosau2015', 'rectotal2015', 'rectotal2016', 'rectotal2017', 'rectotal2018', 'rectotal2019', 'recprop2015', 'recprop2016', 'recprop2017', 'recprop2018', 'recprop2019', 'CadUnico2015', 'CadUnico2016', 'CadUnico2017', 'CadUnico2018', 'CadUnico2019', 'CadUnico2020', 'cluster',  'Empenhado','AmmendEmpenho2015', 'AmmendEmpenho2016', 'AmmendEmpenho2017', 'AmmendEmpenho2018', 'AmmendEmpenho2019', 'AmmendEmpenho2020', 'AmmendEmpenho2021', 'AmmendEmpenho2022', 'STN2015', 'STN2016', 'STN2017', 'STN2018', 'STN2019', 'STN2020', 'STN2021', 'STN2022', 'Votos_x','Votos_y']

In [123]:
scaler = StandardScaler()

In [124]:
# Check if all columns in columns_to_normalize exist in the DataFrame
missing_columns = [col for col in columns_to_standardize if col not in MUNICIPALITIESFORANALYSISSTD.columns]

if missing_columns:
    print(f"Columns not found in DataFrame: {missing_columns}")
else:
    # Perform normalization
    MUNICIPALITIESFORANALYSISSTD[columns_to_standardize] = scaler.fit_transform(MUNICIPALITIESFORANALYSISSTD[columns_to_standardize])

In [125]:
MUNICIPALITIESFORANALYSISSTD[columns_to_standardize] = scaler.fit_transform(MUNICIPALITIESFORANALYSISSTD[columns_to_standardize])

In [126]:
columns_convert_float = ['RHTotalDireta2012', 'RHDiretaEstat2012', 'RHDiretaCel2012', 'RHDirCom2012', 'RHDiretaEstag2012', 'RHDiretaSemVinc2012', 'RHIndiretaExiste2012', 'RHTotalINDireta2012', 'RHINDiretaEstat2012', 'RHINDiretaCel2012', 'RHINDirCom2012', 'RHINDiretaEstag2012', 'RHINDiretaSemVinc2012', 'RHTotalDireta2013', 'RHDiretaEstat2013', 'RHDiretaCel2013', 'RHDirCom2013', 'RHDiretaEstag2013', 'RHDiretaSemVinc2013', 'RHIndiretaExiste2013', 'RHTotalINDireta2013', 'RHINDiretaEstat2013', 'RHINDiretaCel2013', 'RHINDirCom2013', 'RHINDiretaEstag2013', 'RHINDiretaSemVinc2013', 'RHTotalDireta2014', 'RHDiretaEstat2014', 'RHDiretaCel2014', 'RHDirCom2014', 'RHDiretaEstag2014', 'RHDiretaSemVinc2014', 'RHIndiretaExiste2014', 'RHTotalINDireta2014', 'RHINDiretaEstat2014', 'RHINDiretaCel2014', 'RHINDirCom2014', 'RHINDiretaEstag2014', 'RHINDiretaSemVinc2014', 'RHTotalDireta2015', 'RHDiretaEstat2015', 'RHDiretaCel2015', 'RHDirCom2015', 'RHDiretaEstag2015', 'RHDiretaSemVinc2015', 'RHIndiretaExiste2015', 'RHTotalINDireta2015', 'RHINDiretaEstat2015', 'RHINDiretaCel2015', 'RHINDirCom2015', 'RHINDiretaEstag2015', 'RHINDiretaSemVinc2015', 'RHTotalDireta2016', 'RHDiretaEstat2016', 'RHDiretaCel2016', 'RHDirCom2016', 'RHDiretaEstag2016', 'RHDiretaSemVinc2016', 'RHIndiretaExiste2016', 'RHTotalINDireta2016', 'RHINDiretaEstat2016', 'RHINDiretaCel2016', 'RHINDirCom2016', 'RHINDiretaEstag2016', 'RHINDiretaSemVinc2016', 'RHTotalDireta2017', 'RHDiretaEstat2017', 'RHDiretaCel2017', 'RHDirCom2017', 'RHDiretaEstag2017', 'RHDiretaSemVinc2017', 'RHIndiretaExiste2017', 'RHTotalINDireta2017', 'RHINDiretaEstat2017', 'RHINDiretaCel2017', 'RHINDirCom2017', 'RHINDiretaEstag2017', 'RHINDiretaSemVinc2017', 'RHTotalDireta2018', 'RHDiretaEstat2018', 'RHDiretaCel2018', 'RHDirCom2018', 'RHDiretaEstag2018', 'RHDiretaSemVinc2018', 'RHIndiretaExiste2018', 'RHTotalINDireta2018', 'RHINDiretaEstat2018', 'RHINDiretaCel2018', 'RHINDirCom2018', 'RHINDiretaEstag2018', 'RHINDiretaSemVinc2018', 'RHTotalDireta2019', 'RHDiretaEstat2019', 'RHDiretaCel2019', 'RHDirCom2019', 'RHDiretaEstag2019', 'RHDiretaSemVinc2019', 'RHIndiretaExiste2019', 'RHTotalINDireta2019', 'RHINDiretaEstat2019', 'RHINDiretaCel2019', 'RHINDirCom2019', 'RHINDiretaEstag2019', 'RHINDiretaSemVinc2019', 'pop2012', 'pop2013', 'pop2014', 'pop2015', 'pop2016', 'pop2017', 'pop2018', 'pop2019', 'OSC2012', 'OSC2013', 'OSC2014', 'OSC2015', 'OSC2016', 'OSC2017', 'OSC2018', 'OSC2019', 'OSC2020', 'OSCTotalQtd', 'OSCTOTAL2012', 'OSCTOTAL2013', 'OSCTOTAL2014', 'OSCTOTAL2015', 'OSCTOTAL2016', 'OSCTOTAL2017', 'OSCTOTAL2018', 'OSCTOTAL2019', 'OSCTOTAL2020', 'VLAgricultura2012', 'VLIndustria2012', 'VLServicos2012', 'VLADMPub2012', 'VLTotal2012', 'Impostos2012', 'Pib2012', 'Pibpercapita2012', 'MaiorVLAd2012', 'SegundoMaiorVLAd2012', 'TerceiroMaiorVLAd2012', 'VLAgricultura2013', 'VLIndustria2013', 'VLServicos2013', 'VLADMPub2013', 'VLTotal2013', 'Impostos2013', 'Pib2013', 'Pibpercapita2013', 'MaiorVLAd2013', 'SegundoMaiorVLAd2013', 'TerceiroMaiorVLAd2013', 'VLAgricultura2014', 'VLIndustria2014', 'VLServicos2014', 'VLADMPub2014', 'VLTotal2014', 'Impostos2014', 'Pib2014', 'Pibpercapita2014', 'MaiorVLAd2014', 'SegundoMaiorVLAd2014', 'TerceiroMaiorVLAd2014', 'VLAgricultura2015', 'VLIndustria2015', 'VLServicos2015', 'VLADMPub2015', 'VLTotal2015', 'Impostos2015', 'Pib2015', 'Pibpercapita2015', 'MaiorVLAd2015', 'SegundoMaiorVLAd2015', 'TerceiroMaiorVLAd2015', 'VLAgricultura2016', 'VLIndustria2016', 'VLServicos2016', 'VLADMPub2016', 'VLTotal2016', 'Impostos2016', 'Pib2016', 'Pibpercapita2016', 'MaiorVLAd2016', 'SegundoMaiorVLAd2016', 'TerceiroMaiorVLAd2016', 'VLAgricultura2017', 'VLIndustria2017', 'VLServicos2017', 'VLADMPub2017', 'VLTotal2017', 'Impostos2017', 'Pib2017', 'Pibpercapita2017', 'MaiorVLAd2017', 'SegundoMaiorVLAd2017', 'TerceiroMaiorVLAd2017', 'VLAgricultura2018', 'VLIndustria2018', 'VLServicos2018', 'VLADMPub2018', 'VLTotal2018', 'Impostos2018', 'Pib2018', 'Pibpercapita2018', 'MaiorVLAd2018', 'SegundoMaiorVLAd2018', 'TerceiroMaiorVLAd2018', 'VLAgricultura2019', 'VLIndustria2019', 'VLServicos2019', 'VLADMPub2019', 'VLTotal2019', 'Impostos2019', 'Pib2019', 'Pibpercapita2019', 'MaiorVLAd2019', 'SegundoMaiorVLAd2019', 'TerceiroMaiorVLAd2019', 'Rec2013', 'Rec2014', 'Rec2015', 'Rec2016', 'Rec2017', 'Rec2018', 'Rec2019', 'Rec2020', 'RecTotal', 'Recorrente', 'IDEB2005', 'IDEB2006', 'IDEB2007', 'IDEB2009', 'IDEB2010', 'IDEB2011', 'IDEB2012', 'IDEB2013', 'IDEB2014', 'IDEB2015', 'IDEB2017', 'IDEB2018', 'IDEB2019', 'HOM2000', 'HOM2001', 'HOM2002', 'HOM2003', 'HOM2004', 'HOM2005', 'HOM2006', 'HOM2007', 'HOM2008', 'HOM2009', 'HOM2010', 'HOM2011', 'HOM2012', 'HOM2013', 'HOM2014', 'HOM2015', 'HOM2016', 'HOM2017', 'HOM2018', 'HOM2019', 'QtdCGU', 'QTD_Prefeito_TCU', 'Nat_Jur_2010', 'AG001_pop_agua_2010', 'Nat_Jur_2011', 'AG001_pop_agua_2011', 'Nat_Jur_2012', 'AG001_pop_agua_2012', 'Nat_Jur_2013', 'AG001_pop_agua_2013', 'Nat_Jur_2014', 'AG001_pop_agua_2014', 'Nat_Jur_2015', 'AG001_pop_agua_2015', 'Nat_Jur_2016', 'AG001_pop_agua_2016', 'Nat_Jur_2017', 'AG001_pop_agua_2017', 'Nat_Jur_2018', 'AG001_pop_agua_2018', 'Nat_Jur_2019', 'AG001_pop_agua_2019', 'Nat_Jur_2020', 'AG001_pop_agua_2020', 'Total_empresas', 'planosau2022', 'planosau2021', 'planosau2020', 'planosau2019', 'planosau2018', 'planosau2016', 'planosau2015', 'rectotal2015', 'rectotal2016', 'rectotal2017', 'rectotal2018', 'rectotal2019', 'recprop2015', 'recprop2016', 'recprop2017', 'recprop2018', 'recprop2019', 'CadUnico2015', 'CadUnico2016', 'CadUnico2017', 'CadUnico2018', 'CadUnico2019', 'CadUnico2020', 'cluster',  'Empenhado','AmmendEmpenho2015', 'AmmendEmpenho2016', 'AmmendEmpenho2017', 'AmmendEmpenho2018', 'AmmendEmpenho2019', 'AmmendEmpenho2020', 'AmmendEmpenho2021', 'AmmendEmpenho2022', 'STN2015', 'STN2016', 'STN2017', 'STN2018', 'STN2019', 'STN2020', 'STN2021', 'STN2022']

In [127]:
MUNICIPALITIESFORANALYSISSTD[columns_convert_float] = MUNICIPALITIESFORANALYSISSTD[columns_convert_float].apply(pd.to_numeric, errors='coerce')

In [128]:
MUNICIPALITIESFORANALYSISSTD.to_csv("MUNICIPALITIESFORANALYSISTD.csv",  encoding='utf-8', index=False)

In [ ]:
https://www.youtube.com/watch?v=qXoo7vYpkSc

# ANALISYS OF NONGOVERNMENTAL ORGANIZATIONS

#Including "IPEA Mapa das OSC na base de dados" - the year of foundation was used as reference
Source: https://mapaosc.ipea.gov.br/base-dados

In [24]:
MAPAOSC = pd.read_csv('G:\Meu Drive\Doutorado\Disciplinas\Dados\Mapa_OSC\Mapa OSC area_subarea.csv',  engine = 'python',  delimiter=";", index_col=False)

In [25]:
MAPAOSC = MAPAOSC.reset_index()

In [26]:
MAPAOSC['edmu_cd_municipio'] = MAPAOSC['edmu_cd_municipio'].astype(str).str.rstrip('.0')

In [27]:
MAPAOSC['Ano'] = MAPAOSC['dt_fundacao_osc'].str.split('/').str[-1]

In [28]:
MAPAOSC

,index,id_osc,cd_identificador_osc,tx_razao_social_osc,tx_nome_fantasia_osc,dt_fundacao_osc,tx_nome_classe_atividade_economica,cd_natureza_juridica_osc,edmu_cd_municipio,edmu_nm_municipio,...,"Desenv e Def sub Associacoes de pais, professores, alunos e a",Desenv e Def sub Associacoes patronais e profissionais,Desenv e Def sub Cultura e recreacao,Desenv e Def sub Defesa de direitos e interesses - multiplas,Desenv e Def sub Meio ambiente e protecao animal,Desenv e Def sub Outras formas de desenvolvimento e defesa de d,Desenv e Def sub Religiao,"Desenv e Def sub Saude, assistencia social e educacao",Outras sub Associacoes de atividades não especificadas anter,Ano
0,0,394905,5880992000102,CENTRO DE TRADICOES GAUCHAS SENTINELA DA FRONT...,CTG,01/01/1986,"Clubes sociais, esportivos e similares",3999,1100288,Rolim de Moura,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1986
1,1,394906,5882170000160,GRUPO ASSISTENCIAL DE AMIGOS DE JI-PARANA,CRECHE E PRE-ESCOLA CANTINHO DO CEU,01/01/1987,EducaÃ§Ã£o infantil - creche,3999,1100122,Ji-ParanÃ¡,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1987
2,2,394907,5881016000174,ASSOCIACAO DE PAIS E AMIGOS DOS EXCEPCIONAIS D...,APAE,01/01/1986,Atividades de associaÃ§Ãµes de defesa de direi...,3999,1100114,Jaru,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1986
3,3,394908,5883624000118,OBRAS SOCIAIS E ASSISTENCIAIS DE GUAJARA-MIRIM,NaN,01/01/1970,Atividades de associaÃ§Ãµes de defesa de direi...,3999,1100106,GuajarÃ¡-Mirim,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1970
4,4,394909,5884606000150,CENTRO ESPIRITA IRMAO JACOB,NaN,01/01/1985,Atividades de associaÃ§Ãµes de defesa de direi...,3999,1100205,Porto Velho,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815670,815670,1336517,97134480000468,PACTO/POA - PROGRAMA DE AUXILIO COMUNITARIO TE...,PACTO ADOLESCENTES,01/01/2020,Atividades associativas nÃ£o especificadas ant...,3999,4314902,Porto Alegre,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
815671,815671,1336518,97353114000319,IGREJA METODISTA RENOVADA,NaN,01/01/2019,Atividades de organizaÃ§Ãµes religiosas,3999,3528502,MairiporÃ£,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
815672,815672,1336519,97442891000178,UNIAO POPULAR DA MULHER DE MONTES CLAROS,NaN,01/01/1994,"Atividades de assistÃªncia a idosos, deficient...",3999,3143302,Montes Claros,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994
815673,815673,1336520,97525706000370,INSTITUTO DE EDUCACAO SUPERIOR LATINOAMERICANO...,FACULDADE DE EDUCACAO SUPERIOR - IESLA,01/01/2019,EducaÃ§Ã£o superior - graduaÃ§Ã£o,3999,31062,Belo Horizonte,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
815674,815674,1336521,97536403000191,UNIDADE ESCOLAR EXECUTORA JARDIM DE INFANCIA C...,UNIDADE ESCOLAR JARDIM DE INFANCIA CAVALINHO D...,01/01/2011,Atividades de associaÃ§Ãµes de defesa de direi...,3999,210927,Presidente Sarney,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011

In [29]:
MAPAOSCgrouped = MAPAOSC.groupby(['edmu_cd_municipio', 'Ano','cd_identificador_osc'])[['saude', 'Cultura e recreacao', 'Educacao e pesquisa', 'Assistencia social', 'Religiao', 'Associacoes patronais, profissionais e de produtores rurais', 'Meio ambiente e protecao animal', 'Desenvolvimento e defesa de direitos', 'Outros', 'Outras atividades associativas']].sum().reset_index()

In [30]:
MAPAOSCgrouped2 = MAPAOSC.groupby(['edmu_cd_municipio', 'Ano'])[['saude', 'Cultura e recreacao', 'Educacao e pesquisa', 'Assistencia social', 'Religiao', 'Associacoes patronais, profissionais e de produtores rurais', 'Meio ambiente e protecao animal', 'Desenvolvimento e defesa de direitos', 'Outros', 'Outras atividades associativas']].sum().reset_index()

In [31]:
MAPAOSCgrouped2['Ano'] = pd.to_numeric(MAPAOSCgrouped2['Ano'], errors='coerce')

In [32]:
MAPAOSCgrouped2 = MAPAOSCgrouped2[
    (MAPAOSCgrouped2[('Ano')] >= 2014) &
    (MAPAOSCgrouped2[('Ano')] <= 2023)
]

In [33]:
MAPAOSCgrouped2

,edmu_cd_municipio,Ano,saude,Cultura e recreacao,Educacao e pesquisa,Assistencia social,Religiao,"Associacoes patronais, profissionais e de produtores rurais",Meio ambiente e protecao animal,Desenvolvimento e defesa de direitos,Outros,Outras atividades associativas
24,1100015,2014,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
25,1100015,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26,1100015,2016,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0
27,1100015,2017,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
28,1100015,2018,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
148569,nan,2016,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
148570,nan,2017,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
148571,nan,2018,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
148572,nan,2019,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
148573,nan,2020,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [34]:
pivot_MAPAOSCgrouped2 = MAPAOSCgrouped2.pivot_table(index= 'edmu_cd_municipio', columns='Ano', values=['saude', 'Cultura e recreacao', 'Educacao e pesquisa', 'Assistencia social', 'Religiao', 'Associacoes patronais, profissionais e de produtores rurais', 'Meio ambiente e protecao animal', 'Desenvolvimento e defesa de direitos', 'Outros', 'Outras atividades associativas'], aggfunc='sum', fill_value=0)

In [35]:
pivot_MAPAOSCgrouped2.columns = pivot_MAPAOSCgrouped2.columns.map(lambda x: '_'.join(map(str, x)))

In [36]:
pivot_MAPAOSCgrouped2

,Assistencia social_2014,Assistencia social_2015,Assistencia social_2016,Assistencia social_2017,Assistencia social_2018,Assistencia social_2019,Assistencia social_2020,"Associacoes patronais, profissionais e de produtores rurais_2014","Associacoes patronais, profissionais e de produtores rurais_2015","Associacoes patronais, profissionais e de produtores rurais_2016",...,Religiao_2018,Religiao_2019,Religiao_2020,saude_2014,saude_2015,saude_2016,saude_2017,saude_2018,saude_2019,saude_2020
edmu_cd_municipio,,,,,,,,,,,,,,,,,,,,,
1100015,0,0,0,0,0,0,0,0,0,0,...,3,0,1,0,0,0,0,0,0,0
1100023,0,0,0,2,0,0,0,0,3,0,...,10,5,2,0,0,0,0,1,0,0
1100031,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1100049,0,1,0,1,0,0,0,0,0,0,...,3,8,1,0,0,0,0,0,0,0
1100056,0,0,0,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222054,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5222203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5222302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5300108,11,12,13,14,17,23,10,25,36,23,...,137,116,97,7,8,2,5,3,7,7
nan,0,0,0,0,0,0,0,0,0,0,...,6,1,1,0,0,0,0,0,0,0

In [37]:
pivot_MAPAOSCgrouped2 = pivot_MAPAOSCgrouped2.reset_index()

In [38]:
pivot_MAPAOSCgrouped2.to_csv("pivot_MAPAOSCgrouped2.csv",  encoding='utf-8', index=False)

In [219]:
MUNICIPALITIESFORANALYSISFINAL4 = pd.read_csv(r'C:\Users\lunav\Downloads\MUNICIPALITIESFORANALYSISFINAL4 (1).csv', engine='python', delimiter=",", index_col=False, encoding='latin1')

In [220]:
MUNICIPALITIESFORANALYSISFINAL4 = MUNICIPALITIESFORANALYSISFINAL4.reset_index()

In [221]:
MUNICIPALITIESFORANALYSISFINAL4.loc[:, 'IBGE7'] = MUNICIPALITIESFORANALYSISFINAL4['IBGE7'].astype(str)

In [222]:
pivot_MAPAOSCgrouped2.loc[:, 'edmu_cd_municipio'] = pivot_MAPAOSCgrouped2['edmu_cd_municipio'].astype(str)

In [ ]:
MUNICIPALITIESFORANALYSISFINAL9.to_csv("MUNICIPALITIESFORANALYSISFINAL9.csv",  encoding='utf-8', index=False)

In [223]:
MUNICIPALITIESFORANALYSISFINAL5 = pd.merge(MUNICIPALITIESFORANALYSISFINAL4, pivot_MAPAOSCgrouped2, how='left', left_on=['IBGE7'], right_on=['edmu_cd_municipio'])

In [224]:
MUNICIPALITIESFORANALYSISFINAL5

,index,level_0,index_x,IBGE7,IBGE4_x,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,...,Religiao_2018,Religiao_2019,Religiao_2020,saude_2014,saude_2015,saude_2016,saude_2017,saude_2018,saude_2019,saude_2020
0,0,0,0,1100015,15,110001,994.0,792.0,122.0,80.0,...,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,...,10.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,2,2,1100031,31,110003,320.0,245.0,26.0,48.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,...,3.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4,4,1100056,56,110005,580.0,492.0,18.0,68.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,5709,5709,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5710,5710,5710,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5711,5711,5711,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5712,5712,5712,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5713,5713,5713,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,...,137.0,116.0,97.0,7.0,8.0,2.0,5.0,3.0,7.0,7.0

#Including the information on number of NONGOVERMENTAL health sevice facility - CNES - http://tabnet.datasus.gov.br/cgi/deftohtm.exe?cnes/cnv/estabbr.def

CNES - Estabelecimentos por Tipo - Brasil
Quantidade por Município e Ano/mês compet.
Natureza Jurídica: 306-9 Fundação Privada, 307-7 Serviço Social Autônomo, 322-0 Organização Religiosa, 330-1 Organização Social (OS), 399-9 Associação Privada

In [231]:
CNESOSC = pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Dados\SUS\CNES.csv', engine='python', delimiter=";", index_col=False, encoding='latin1')

In [233]:
CNESOSC

,IBGE,CNESEST2014,CNESEST2015,CNESEST2016,CNESEST2017,CNESEST2018,CNESEST2019,CNESEST2020,CNESEST2021,CNESEST2022,CNESEST2023
0,110001,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
1,110002,2.0,2.0,3.0,3.0,4.0,5.0,5.0,5.0,6.0,6.0
2,110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
3,110004,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,7.0,7.0
4,110005,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
2527,522060,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0
2528,522140,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0
2529,522160,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2530,522200,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
2531,530010,72.0,75.0,76.0,44.0,24.0,33.0,30.0,33.0,49.0,49.0

In [234]:
MUNICIPALITIESFORANALYSISFINAL6 = pd.merge(MUNICIPALITIESFORANALYSISFINAL5, CNESOSC, how='left', left_on=['IBGE'], right_on=['IBGE'])

In [235]:
MUNICIPALITIESFORANALYSISFINAL6

,index,level_0,index_x,IBGE7,IBGE4_x,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,...,CNESEST2014,CNESEST2015,CNESEST2016,CNESEST2017,CNESEST2018,CNESEST2019,CNESEST2020,CNESEST2021,CNESEST2022,CNESEST2023
0,0,0,0,1100015,15,110001,994.0,792.0,122.0,80.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
1,1,1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,...,2.0,2.0,3.0,3.0,4.0,5.0,5.0,5.0,6.0,6.0
2,2,2,2,1100031,31,110003,320.0,245.0,26.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
3,3,3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,7.0,7.0
4,4,4,4,1100056,56,110005,580.0,492.0,18.0,68.0,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,5709,5709,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
5710,5710,5710,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5711,5711,5711,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5712,5712,5712,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5713,5713,5713,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,...,72.0,75.0,76.0,44.0,24.0,33.0,30.0,33.0,49.0,49.0

#Including in the database the information of SIGA settlement informing if it is ammendment or not, and if it beneficiated a Non-govermnental organization". The identification if it was a non-governmental organizational was performed with isin function bt searching the CNPJs informed in "IPEA Mapa das OSC".

In [236]:
SIGABASE1['EMENDA'] = SIGABASE1['Emenda'].apply(lambda x: 1 if len(str(x)) == 8 else 0)

In [237]:
def transform_value(value):
    # Check if the value is a string
    if isinstance(value, str):
        # Split the string based on the comma and take the first part
        integer_part = value.split(',')[0]
        return int(integer_part.replace('.', ''))
    else:
        # If the value is already an integer, return it as is
        return value

In [246]:
SIGABASE1['Empenhado'] = SIGABASE1['Empenhado'].apply(transform_value)

In [247]:
SIGABASE1['Pago'] = SIGABASE1['Pago'].apply(transform_value)

In [248]:
SIGABASE1.loc[:, 'Empenhado'] = pd.to_numeric(SIGABASE1['Empenhado'], errors='coerce')

In [249]:
SIGABASE1.loc[:, 'Pago'] = pd.to_numeric(SIGABASE1['Pago'], errors='coerce')

In [250]:
SIGABASE1['NGO'] = SIGABASE1['Favorecido'].isin(MAPAOSC['tx_razao_social_osc']).astype(int)

In [294]:
SIGABASE2 = SIGABASE1.loc[SIGABASE1['NGO'] == 1].groupby(['Ano','Localidade.Localidade.Localidade (Cod)','EMENDA'])[['Empenhado', 'Pago']].sum().reset_index()

In [295]:
SIGABASE2

       Ano Localidade.Localidade.Localidade (Cod)  EMENDA  Empenhado     Pago
0     2015                                1100000       0    3089174  1929757
1     2015                                1100122       0          0        0
2     2015                                1100205       0          0        0
3     2015                                1100205       1    2397112        0
4     2015                                1101435       0          0        0
...    ...                                    ...     ...        ...      ...
2524  2022                                9300000       1    4158926  1000000
2525  2022                                9400000       0     946712   817952
2526  2022                                9400000       1          0        0
2527  2022                                9500000       0    2879436    91091
2528  2022                                9500000       1    3528838   350000

[2529 rows x 5 columns]

In [296]:
pivot_SIGABASE2 = SIGABASE2.pivot_table(
    index='Localidade.Localidade.Localidade (Cod)',
    columns=['Ano', 'EMENDA'],
    values=['Empenhado', 'Pago'],
    aggfunc='sum',
    fill_value=0
)

In [297]:
pivot_SIGABASE2 = pivot_SIGABASE2.reset_index()

In [298]:
pivot_SIGABASE2

       Localidade.Localidade.Localidade (Cod) Empenhado                     \
Ano                                                2015               2016
EMENDA                                                0        1         0
0                                     1100000   3089174        0   2460807
1                                     1100122         0        0         0
2                                     1100205         0  2397112         0
3                                     1101435         0        0         0
4                                     1200000    762320        0    637261
..                                        ...       ...      ...       ...
496                                   9300000  12275022        0  10193855
497                                   9400000   3670322   300000   2246221
498                                   9500000         0  1000000         0
499                             NÃO APLICÁVEL         0        0         0
500                             NÃO INFORMADO         0        0         0

                                                                 ...  \
Ano                  2017               2018               2019  ...
EMENDA        1         0        1         0        1         0  ...
0       5263144   2930071        0    506078        0    424869  ...
1             0         0        0         0        0         0  ...
2       2301112         0        0         0        0         0  ...
3             0         0        0         0        0         0  ...
4        500000    580334        0    449969  1000000    522997  ...
..          ...       ...      ...       ...      ...       ...  ...
496           0  13714114        0  16367628   900000  14337951  ...
497     2960830   2319655  3099375   1212279        0  10041460  ...
498      292920    120815        0    146369   969969   2650605  ...
499           0         0        0         0        0         0  ...
500           0         0        0         0        0         0  ...

            Pago                                                         \
Ano         2018        2019        2020        2021               2022
EMENDA         0  1        0  1        0  1        0         1        0
0         477133  0   372107  0   164415  0   313894  21238223   548194
1              0  0        0  0        0  0        0         0        0
2              0  0        0  0     8779  0        0         0        0
3              0  0        0  0        0  0        0         0        0
4         426892  0   216038  0  2120038  0  1431832         0  1075194
..           ... ..      ... ..      ... ..      ...       ...      ...
496     12908643  0  2148309  0      430  0  2624647    200000  2323324
497       575522  0  8501787  0   589921  0   691250    541675   817952
498       146319  0   140861  0   125240  0  1910837         0    91091
499            0  0        0  0        0  0        0         0        0
500            0  0        0  0        0  0        0         0        0


Ano
EMENDA        1
0        972051
1             0
2             0
3             0
4        125965
..          ...
496     1000000
497           0
498      350000
499           0
500           0

[501 rows x 33 columns]

In [299]:
pivot_SIGABASE2.rename(columns={'0': 'PROGRAMA'}, inplace=True)

In [300]:
pivot_SIGABASE2.rename(columns={'1': 'EMENDA'}, inplace=True)

In [301]:
pivot_SIGABASE2.rename(columns={'Empenhado': 'EmpenhadoOSCSIGA'}, inplace=True)

In [302]:
pivot_SIGABASE2.rename(columns={'Pago': 'PagoOSCSIGA'}, inplace=True)

In [303]:
pivot_SIGABASE2.columns = pivot_SIGABASE2.columns.map(lambda x: ''.join(map(str, x)))

In [304]:
column_name_mapping = {
    'EmpenhadoOSCSIGA20150': 'EmpenhadoPROGRAMMEOSCSIGA2015',
    'EmpenhadoOSCSIGA20151': 'EmpenhadoAMMENDOSCSIGA2015',
     'EmpenhadoOSCSIGA20160': 'EmpenhadoPROGRAMMEOSCSIGA2016',
    'EmpenhadoOSCSIGA20161': 'EmpenhadoAMMENDOSCSIGA2016',
    'EmpenhadoOSCSIGA20170': 'EmpenhadoPROGRAMMEOSCSIGA2017',
    'EmpenhadoOSCSIGA20171': 'EmpenhadoAMMENDOSCSIGA2017',
    'EmpenhadoOSCSIGA20180': 'EmpenhadoPROGRAMMEOSCSIGA2018',
    'EmpenhadoOSCSIGA20181': 'EmpenhadoAMMENDOSCSIGA2018',
    'EmpenhadoOSCSIGA20190': 'EmpenhadoPROGRAMMEOSCSIGA2019',
    'EmpenhadoOSCSIGA20191': 'EmpenhadoAMMENDOSCSIGA2019',
    'EmpenhadoOSCSIGA20200': 'EmpenhadoPROGRAMMEOSCSIGA2020',
    'EmpenhadoOSCSIGA20201': 'EmpenhadoAMMENDOSCSIGA2020',
    'EmpenhadoOSCSIGA20210': 'EmpenhadoPROGRAMMEOSCSIGA2021',
    'EmpenhadoOSCSIGA20211': 'EmpenhadoAMMENDOSCSIGA2021',
    'Localidade.Localidade.Localidade (Cod)':'IBGE7'
}

In [305]:
pivot_SIGABASE2.rename(columns=column_name_mapping, inplace=True)

In [306]:
pivot_SIGABASE2.loc[:, 'IBGE7'] = pivot_SIGABASE2['IBGE7'].astype(str)

In [307]:
MUNICIPALITIESFORANALYSISFINAL6.loc[:, 'IBGE7'] = MUNICIPALITIESFORANALYSISFINAL6['IBGE7'].astype(str)

In [308]:
pivot_SIGABASE2 = pivot_SIGABASE2.reset_index()

In [309]:
pivot_SIGABASE2

,index,IBGE7,EmpenhadoPROGRAMMEOSCSIGA2015,EmpenhadoAMMENDOSCSIGA2015,EmpenhadoPROGRAMMEOSCSIGA2016,EmpenhadoAMMENDOSCSIGA2016,EmpenhadoPROGRAMMEOSCSIGA2017,EmpenhadoAMMENDOSCSIGA2017,EmpenhadoPROGRAMMEOSCSIGA2018,EmpenhadoAMMENDOSCSIGA2018,...,PagoOSCSIGA20180,PagoOSCSIGA20181,PagoOSCSIGA20190,PagoOSCSIGA20191,PagoOSCSIGA20200,PagoOSCSIGA20201,PagoOSCSIGA20210,PagoOSCSIGA20211,PagoOSCSIGA20220,PagoOSCSIGA20221
0,0,1100000,3089174,0,2460807,5263144,2930071,0,506078,0,...,477133,0,372107,0,164415,0,313894,21238223,548194,972051
1,1,1100122,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1100205,0,2397112,0,2301112,0,0,0,0,...,0,0,0,0,8779,0,0,0,0,0
3,3,1101435,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1200000,762320,0,637261,500000,580334,0,449969,1000000,...,426892,0,216038,0,2120038,0,1431832,0,1075194,125965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,9300000,12275022,0,10193855,0,13714114,0,16367628,900000,...,12908643,0,2148309,0,430,0,2624647,200000,2323324,1000000
497,497,9400000,3670322,300000,2246221,2960830,2319655,3099375,1212279,0,...,575522,0,8501787,0,589921,0,691250,541675,817952,0
498,498,9500000,0,1000000,0,292920,120815,0,146369,969969,...,146319,0,140861,0,125240,0,1910837,0,91091,350000
499,499,NÃO APLICÁVEL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
500,500,NÃO INFORMADO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [327]:
pivot_FNStransfersOSC = pivot_FNStransfersOSC.apply(pd.to_numeric, errors='coerce')

In [328]:
MUNICIPALITIESFORANALYSISFINAL7 = pd.merge(
    MUNICIPALITIESFORANALYSISFINAL6,
    pivot_SIGABASE2,
    how='left',
    left_on=['IBGE7'],
    right_on=['IBGE7'],
    suffixes=('_left', '_right')
)

In [329]:
MUNICIPALITIESFORANALYSISFINAL7

,index_left,level_0,index_x,IBGE7,IBGE4_x,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,...,PagoOSCSIGA20180,PagoOSCSIGA20181,PagoOSCSIGA20190,PagoOSCSIGA20191,PagoOSCSIGA20200,PagoOSCSIGA20201,PagoOSCSIGA20210,PagoOSCSIGA20211,PagoOSCSIGA20220,PagoOSCSIGA20221
0,0,0,0,1100015,15,110001,994.0,792.0,122.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2,1100031,31,110003,320.0,245.0,26.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,4,1100056,56,110005,580.0,492.0,18.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,5709,5709,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5710,5710,5710,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5711,5711,5711,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5712,5712,5712,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5713,5713,5713,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,...,40560195.0,0.0,43298650.0,0.0,27271517.0,700635.0,24164157.0,0.0,20060385.0,0.0

#Including health ammendment executiion considering National Health Fund - SUS/FNS - https://infoms.saude.gov.br/extensions/CGIN_Painel_Emendas/CGIN_Painel_Emendas.html#GUIA02

In [313]:
FNStransfersOSC= pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Dados\SUS\FNStransfersOSC.csv',  engine = 'python',  delimiter=";", index_col=False)

In [314]:
FNStransfersOSC

       IBGE6   Ano  EMPENHADOOSCFNS  PAGOOSCFNS
0     110004  2021           300000      300000
1     110009  2023            96252       96252
2     110010  2019           400000      400000
3     110010  2022            81000       81000
4     110012  2014           600000           0
...      ...   ...              ...         ...
6293  530010  2019          4299804     4299804
6294  530010  2020         21405494     8036982
6295  530010  2021         11376522     7487178
6296  530010  2022         18119116     6216628
6297  530010  2023         40825249           0

[6298 rows x 4 columns]

In [315]:
pivot_FNStransfersOSC = FNStransfersOSC.pivot_table(
    index='IBGE6',
    columns=['Ano'],
    values=['EMPENHADOOSCFNS', 'PAGOOSCFNS'],
    aggfunc='sum',
    fill_value=0
)

In [316]:
pivot_FNStransfersOSC

       EMPENHADOOSCFNS                                                \
Ano               2014      2015     2016     2017     2018     2019
IBGE6
110004               0         0        0        0        0        0
110009               0         0        0        0        0        0
110010               0         0        0        0        0   400000
110012          600000         0        0        0        0        0
110020         2942992   1997112  7564256        0        0        0
...                ...       ...      ...      ...      ...      ...
521880          570000    424513  1634983  1024960  1499850  2549950
522020               0         0    99910        0        0        0
522045               0         0        0        0        0        0
522140         1266998    849887  1352706   499875   699960   949860
530010         6850215  12126053  9455612  9852843  1797700  4299804

                                               PAGOOSCFNS                     \
Ano         2020      2021      2022      2023       2014      2015     2016
IBGE6
110004         0    300000         0         0          0         0        0
110009         0         0         0     96252          0         0        0
110010         0         0     81000         0          0         0        0
110012         0         0         0         0          0         0        0
110020         0    400000         0  16564030     942992         0  2843038
...          ...       ...       ...       ...        ...       ...      ...
521880   2153035   2459000   3039329   7929354     250000    174543   484983
522020         0         0         0         0          0         0        0
522045         0    100000         0         0          0         0        0
522140    439956    649905    150000    799850     199998    729889   250000
530010  21405494  11376522  18119116  40825249    6350215  12126053  7398841


Ano        2017     2018     2019     2020     2021     2022      2023
IBGE6
110004        0        0        0        0   300000        0         0
110009        0        0        0        0        0        0     96252
110010        0        0   400000        0        0    81000         0
110012        0        0        0        0        0        0         0
110020        0        0        0        0   340000        0  13064072
...         ...      ...      ...      ...      ...      ...       ...
521880   979610  1333914  2132050  1887279  2398474  2999606   3969480
522020        0        0        0        0        0        0         0
522045        0        0        0        0    45766        0         0
522140   186968   372149   814140   342053   430503    99793         0
530010  9852843  1797700  4299804  8036982  7487178  6216628         0

[1328 rows x 20 columns]

In [319]:
pivot_FNStransfersOSC.columns = pivot_FNStransfersOSC.columns.map(lambda x: ''.join(map(str, x)))

In [320]:
pivot_FNStransfersOSC = pivot_FNStransfersOSC.reset_index()

In [321]:
pivot_FNStransfersOSC

,IBGE6,EMPENHADOOSCFNS2014,EMPENHADOOSCFNS2015,EMPENHADOOSCFNS2016,EMPENHADOOSCFNS2017,EMPENHADOOSCFNS2018,EMPENHADOOSCFNS2019,EMPENHADOOSCFNS2020,EMPENHADOOSCFNS2021,EMPENHADOOSCFNS2022,...,PAGOOSCFNS2014,PAGOOSCFNS2015,PAGOOSCFNS2016,PAGOOSCFNS2017,PAGOOSCFNS2018,PAGOOSCFNS2019,PAGOOSCFNS2020,PAGOOSCFNS2021,PAGOOSCFNS2022,PAGOOSCFNS2023
0,110004,0,0,0,0,0,0,0,300000,0,...,0,0,0,0,0,0,0,300000,0,0
1,110009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,96252
2,110010,0,0,0,0,0,400000,0,0,81000,...,0,0,0,0,0,400000,0,0,81000,0
3,110012,600000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,110020,2942992,1997112,7564256,0,0,0,0,400000,0,...,942992,0,2843038,0,0,0,0,340000,0,13064072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,521880,570000,424513,1634983,1024960,1499850,2549950,2153035,2459000,3039329,...,250000,174543,484983,979610,1333914,2132050,1887279,2398474,2999606,3969480
1324,522020,0,0,99910,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1325,522045,0,0,0,0,0,0,0,100000,0,...,0,0,0,0,0,0,0,45766,0,0
1326,522140,1266998,849887,1352706,499875,699960,949860,439956,649905,150000,...,199998,729889,250000,186968,372149,814140,342053,430503,99793,0
1327,530010,6850215,12126053,9455612,9852843,1797700,4299804,21405494,11376522,18119116,...,6350215,12126053,7398841,9852843,1797700,4299804,8036982,7487178,6216628,0

In [325]:
pivot_FNStransfersOSC = pivot_FNStransfersOSC.apply(pd.to_numeric, errors='coerce')

In [326]:
MUNICIPALITIESFORANALYSISFINAL8 = pd.merge(MUNICIPALITIESFORANALYSISFINAL7, pivot_FNStransfersOSC, how='left', left_on=['IBGE'], right_on=['IBGE6'])

In [323]:
MUNICIPALITIESFORANALYSISFINAL8

,index_left,level_0,index_x,IBGE7,IBGE4_x,IBGE,RHTotalDireta2012,RHDiretaEstat2012,RHDiretaCel2012,RHDirCom2012,...,PAGOOSCFNS2014,PAGOOSCFNS2015,PAGOOSCFNS2016,PAGOOSCFNS2017,PAGOOSCFNS2018,PAGOOSCFNS2019,PAGOOSCFNS2020,PAGOOSCFNS2021,PAGOOSCFNS2022,PAGOOSCFNS2023
0,0,0,0,1100015,15,110001,994.0,792.0,122.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1100023,23,110002,2578.0,2173.0,36.0,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,2,1100031,31,110003,320.0,245.0,26.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,3,1100049,49,110004,2144.0,1543.0,156.0,445.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,300000.0,0.0,0.0
4,4,4,4,1100056,56,110005,580.0,492.0,18.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5709,5709,5709,5565,5222005,22005,522200,556.0,480.0,0.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5710,5710,5710,5566,5222054,22054,522205,446.0,394.0,0.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5711,5711,5711,5567,5222203,22203,522220,340.0,291.0,0.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5712,5712,5712,5568,5222302,22302,522230,261.0,61.0,0.0,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5713,5713,5713,5569,5300108,108,530010,124933.0,108633.0,1574.0,6464.0,...,6350215.0,12126053.0,7398841.0,9852843.0,1797700.0,4299804.0,8036982.0,7487178.0,6216628.0,0.0

In [330]:
MUNICIPALITIESFORANALYSISFINAL8 = MUNICIPALITIESFORANALYSISFINAL8.apply(lambda x: pd.to_numeric(x, errors='coerce').astype(int) if x.dtype == 'float' and x.apply(float.is_integer).all() else x)

In [331]:
MUNICIPALITIESFORANALYSISFINAL8.to_csv("MUNICIPALITIESFORANALYSISFINAL8.csv",  encoding='utf-8', index=False)

In [20]:
MUNICIPALITIESFORANALYSISFINAL8= pd.read_csv(r'C:\Users\lunav\Downloads\MUNICIPALITIESFORANALYSISFINAL8 (1).csv',  engine = 'python',  delimiter=",", index_col=False)

In [7]:
FNStransfersPublic= pd.read_csv(r'G:\Meu Drive\Doutorado\Disciplinas\Dados\SUS\FNStransfersPublic.csv',  engine = 'python',  delimiter=";", index_col=False)

In [8]:
FNStransfersPublic

        IBGE6   Ano EmpFNSPublic PagoFNSPublic
0      110001  2014    1309919,6     1309919,6
1      110001  2015       308000        308000
2      110001  2017       699960        699960
3      110001  2018      1510000       1510000
4      110001  2019      1099172       1099172
...       ...   ...          ...           ...
27145  530010  2019  39154778,16   33534778,16
27146  530010  2020  44558638,73   42209634,68
27147  530010  2021     52256796      51969156
27148  530010  2022     46520085      42115605
27149  530010  2023    147759141     102096826

[27150 rows x 4 columns]

In [9]:
pivot_FNStransfersPublic = FNStransfersPublic.pivot_table(
    index='IBGE6',
    columns=['Ano'],
    values=['EmpFNSPublic', 'PagoFNSPublic'],
    aggfunc='sum',
    fill_value=0
)

In [10]:
pivot_FNStransfersPublic

       EmpFNSPublic                                                         \
Ano            2014        2015      2016      2017      2018         2019
IBGE6
110001    1309919,6      308000         0    699960   1510000      1099172
110002       640000      300000   1738926   2462097   1830000      2907961
110003       200000           0   1249880    149990    523850            0
110004       878300           0    925513   2199410     49900      1036980
110005       895000  1199981,66   1527938    441460    600000       100000
...             ...         ...       ...       ...       ...          ...
522200       299919           0     99930         0         0        70322
522205       250000           0    483824    204980    270000       270000
522220       533530           0    116118    130000    665164            0
522230            0           0    150000     99855    199920       138600
530010      8491800    13436498  37250141  35433943  35077468  39154778,16

                                                   PagoFNSPublic              \
Ano            2020      2021      2022       2023          2014        2015
IBGE6
110001       399876   1450307    900000    1911208     1309919,6      308000
110002      2159959   1450000   2287848    6268425        640000      300000
110003       100000    161869    268207     349329        200000           0
110004       949769   1385729   1499955    2640000        878300           0
110005       435039         0   1050000    1402283        895000  1199981,66
...             ...       ...       ...        ...           ...         ...
522200       236556     59992    688317          0        299919           0
522205       285397     59983    198951          0        250000           0
522220       106700    350000    280000     229206        533530           0
522230            0         0         0          0             0           0
530010  44558638,73  52256796  46520085  147759141       5732000    12945733

                                                                            \
Ano         2016        2017      2018         2019         2020      2021
IBGE6
110001         0      699960   1510000      1099172       399876   1450307
110002   1738926  2158673,58   1830000      2907961      2159959   1450000
110003   1249880      149990    523850            0       100000    161869
110004    925513     2199410     49900      1036980       949769   1385729
110005   1227938      441460    600000       100000       435039         0
...          ...         ...       ...          ...          ...       ...
522200     99930           0         0        70322       236556     59992
522205    483824      204980    270000       270000       285397     59983
522220    116118      130000    665164            0       106700    350000
522230    150000       99855    199920       138600            0         0
530010  32694141    32943943  31779265  33534778,16  42209634,68  51969156


Ano         2022       2023
IBGE6
110001    900000    1561267
110002   2287848    4706587
110003    268207     349329
110004   1499955    2640000
110005   1050000     919908
...          ...        ...
522200    688317          0
522205    198951          0
522220    280000     229206
522230         0          0
530010  42115605  102096826

[5457 rows x 20 columns]

In [12]:
pivot_FNStransfersPublic.columns = pivot_FNStransfersPublic.columns.map(lambda x: ''.join(map(str, x)))

In [13]:
pivot_FNStransfersPublic = pivot_FNStransfersPublic.reset_index()

In [14]:
pivot_FNStransfersPublic = pivot_FNStransfersPublic.apply(pd.to_numeric, errors='coerce')

In [21]:
MUNICIPALITIESFORANALYSISFINAL9 = pd.merge(MUNICIPALITIESFORANALYSISFINAL8, pivot_FNStransfersPublic, how='left', left_on=['IBGE'], right_on=['IBGE6'])